[2013-10-20 00:22] tpetricek opened #5 "Fix template for API reference in documentation"

[2013-10-20 00:22] tpetricek opened #6 "Write documentation and describe structure"

[2013-10-20 00:22] tpetricek opened #7 "Cleanup fake build script (to make sure all works right - update structure)"

[2013-10-20 00:24] tpetricek opened #8 "Future work: update to use release notes script in FAKE"

[2013-10-20 00:30] tpetricek opened #9 "Add nuspec & publish for NuGet package building"

[2013-10-22 17:56] #9 closed, assigned to pblasucci

[2013-10-22 17:57] #8 closed, assigned to pblasucci

[2013-10-22 18:18] pblasucci opened #10 "Reconsider Naming Discrepancies"
There is a bit a of a disconnect between the names used in this project. Specifically, the GitHub repository name, the VS solution name(s), and the FS project name(s) are all markedly different. Though a low priority, it may be beneficial to normalize all of these at some point.

[2013-10-22 19:38] ovatsus opened #11 "Consider dropping the tests folder"
I think it's better to have the test project together with the main project in the src folder, and include both on a single .sln. This unfortunately is not possible for type providers, but for all other cases I think it's better to have everything loaded at once, it's easier to work that way.
Which brings the question if we shouldn't have two different templates, one for "normal" projects, and oth

[2013-10-24 15:06] haf opened #13 "Create Visual Studio template"
It would be great if you'd create a Visual Studio template for this so that I can choose the 'good' F# project file (fsproj) when I create a new F# project instead of having to hack it manually.

Also, I haven't found a blog entry or other documentation describing the changes to the default fsproj nor how they relate to compiling this on mono and windows: do you have any suggestions on where to lo

[2013-10-24 19:31] #11 closed, assigned to nobody

[2013-10-24 19:32] #7 closed, assigned to pblasucci

[2013-10-24 19:32] #5 closed, assigned to tpetricek

[2013-10-24 19:32] #10 closed, assigned to nobody

[2013-10-24 19:35] pblasucci opened #14 "Errors generating documentation"
For reasons unknown, the documentation generation task doesn't detect when there are newly placed DLLs in the root bin. Note, this is only an issue if the root been was empty prior to FAKE invocation. Current work-around is to call `build` once after call 'build clean'. This shouldn't be necessary, as `build Release` implies `build`.

[2013-10-25 17:44] #14 closed, assigned to nobody

[2013-10-29 19:25] pblasucci opened #16 "Add Type-Provider-specific Documentation"
Update the wiki to document the subtle tweaks required to adapt this scaffold to a Type Provider library.

[2013-11-07 03:16] #6 closed, assigned to pblasucci

[2013-11-07 03:40] pblasucci opened #17 "Build process can't access nuspec file"
Invoking the "NuGet" target (either directly or indirectly) fails. Error is as follows:

<pre>Running build failed.
Error:
System.Exception: The process cannot access the file './NuGet\FSharp.ProjectTemplate.nuspec' because it is being used by another process.
   at Fake.NuGetHelper.NuGet(FSharpFunc`2 setParams, String nuspecFile)
   at FSI_0001.clo@125-12.Invoke(Unit _arg8) in D:\Working\FSharp.P

[2013-11-07 16:33] #17 closed, assigned to nobody

[2013-11-26 21:23] ronnieholm opened #19 "Add AssemblyInfo.fs to .gitignore"
As AssemblyInfo.fs is generated by build.fsx, wouldn't it make sense to include it in .gitignore?

[2013-11-26 21:24] haf opened #20 "Does this work for you on mono?"
I'm getting errors like:

[code]

From what I can only assume is [this snippet](https://github.com/pblasucci/FSharp.ProjectScaffold/blob/master/src/FSharp.ProjectTemplate/FSharp.ProjectTemplate.fsproj#L52):

[code]

Adding `<Import Project="$(MSBuildExtensionsPath32)\..\Microsoft F#\v4.0\Microsoft.FSharp.Targets" />` instead works, but I'm not sure about that change.

I tried:

[code]

But that di

[2013-11-26 21:30] #20 closed, assigned to nobody

[2013-11-27 09:01] #19 closed, assigned to nobody

[2013-12-09 16:37] pblasucci opened #22 "Add Initialization Script"
Per request from Don Syme, it'd be nice to add an initialization script that does the necessary renamings in one go. Specifically, such a script would have to rename the following (based on user-supplied values):
- `Fsharp.ProjectScaffold.sln`
- `src/Fsharp.ProjectTemplate`
- `src/Fsharp.ProjectTemplate/Fsharp.ProjectTemplate.fsproj`
- `tests/Fsharp.ProjectTemplate.Tests`
- `tests/Fsharp.ProjectTe

[2013-12-11 15:42] forki opened #23 "Update Nuget.exe"

[2013-12-11 15:46] forki opened #24 "Be careful with XML docs"
We probably don't want XML docs for debug and for test projects

[2013-12-11 16:25] forki opened #25 "Try to use !! file pattern"
I don't think

[code]

is a good idea.

[2013-12-11 16:49] forki opened #27 "Separate githome from git clone url in build.fsx"
[code]

this is correct but I can't clone this for gh-pages from my machine.

I'd like to speciy git@github.com:forki/FSharpx.ManagementProviders.git als clone url

[2013-12-11 17:00] forki opened #30 "Add a build target which copies dll and docs to the nuget path"
I'm getting:

![image](https://f.cloud.github.com/assets/57396/1725798/a427b2b4-6285-11e3-9863-cf84c27d57b1.png)

[2013-12-11 17:02] forki opened #31 "Specify licenseurl, projecturl, icon ... in buildscript"
At the moment that's in the nuspec file:

![image](https://f.cloud.github.com/assets/57396/1725815/fcc65ee8-6285-11e3-968d-1941df6070f4.png)

[2013-12-12 08:20] forki opened #34 "Reuse project properties from build.fsx in docs/tools/generate.fsx"
I feels strange to specify these things in two different places

[2013-12-12 08:49] forki opened #35 "Release build should also publish the nuget package"
We should not have to use https://github.com/fsprojects/FSharp.ProjectScaffold/blob/master/nuget/publish.cmd

[2013-12-27 18:45] pblasucci opened #39 "gh-pages are broken"
The gh-pages which were uploaded for the scaffold have botched paths (for referencing the supporting FSharp.Formatting resources).

[2013-12-27 18:45] pblasucci opened #40 "Link to gh-pages should be more prominent on main repo page."
Let's stick a link up near the title/summary.

[2013-12-30 19:06] #39 closed, assigned to nobody

[2013-12-30 19:06] #25 closed, assigned to nobody

[2013-12-30 19:06] #40 closed, assigned to nobody

[2014-01-03 14:12] forki opened #42 "This should be the default for any .NET project"
Hi,

this setup is useful enough to be used in all .NET projects not only F# projects.
We use nearly the same setup for https://github.com/octokit/octokit.net
We should add a C# project and remove all F# naming.

Cheers,
Steffen

[2014-01-07 16:05] panesofglass opened #43 "CNAME not copied from content folder"
I added a CNAME file to the content folder, but that file is not pulled over with the index.html and tutorial.html files. How do I copy the CNAME over, as well?

[2014-01-07 16:07] #43 closed, assigned to nobody

[2014-01-24 10:33] sergey-tihon opened #45 "Fsharp.Formatting does not generate code tips when bin directory contains FSharp.Core.* files"

[2014-01-24 15:20] #45 closed, assigned to nobody

[2014-01-31 22:06] sergey-tihon opened #48 "Add sharing buttons to the template"
Site template should provide an easy way to like/share page to social networks like twitter, fb and etc.

[2014-03-04 15:13] anirothan opened #49 "build.sh case sensitivity"
The scripts tries to access the non-existing .NuGet directory to execute NuGet.exe which is in the .nuget directory. The script should respect case sensitivity of file names.

[2014-03-04 17:36] #49 closed, assigned to nobody

[2014-03-05 01:08] anirothan opened #50 "build.sh issues in linux"
There are two more issues with build.sh in a linux (ubuntu 13.10, mono 3.2.8 and fsharp 3.1 under /usr/local/).

i). Another minor issue with case sensitivity
The test:

[code]

will always succeed because the correct case for the fake executable is: packages/FAKE/tools/FAKE.exe
Thus, even if fake has been previously installed by a previous invocation, the script will try to install it again, caus

[2014-03-06 15:58] #50 closed, assigned to nobody

[2014-03-24 23:26] evelinag opened #53 "Missing method exception in copyFiles"
In generate.fsx, copyFiles() throws the following exception in F# interactive:

[code]

It works when it's called from the command line though.
I'm using Visual Studio 2012 (I don't have VS 2013 installed).

[2014-06-05 17:13] haf opened #58 "Sample issue: FS0078: Unable to find the file 'NuGet.Core.dll'"
[code]

Figured I'd do some nice docs. Getting funky error with latest mono release. Code in question:

[code]

Source: https://github.com/logary/logary/blob/master/buildsupport/docs.fsx

[2014-06-05 18:15] haf opened #59 "FSharp.Literate is not in NuGet 'FSharp.Formatting'"
Also, since 'FSharp.Formatting.CommandTool' contains all deps, there's no need to download all the other packages listed in the sample file.

[2014-06-06 13:27] #59 closed, assigned to nobody

[2014-06-06 13:50] #58 closed, assigned to nobody

[2014-07-17 11:19] #22 closed, assigned to nobody

[2014-07-17 12:32] caindy opened #64 "Template and Rename .nuspec file"
As a part of #22 the .nuspec file should have been templated and renamed. This issue captures that work item.

I believe that testing this manually would simply involve running the "NuGet" target and ensuring the package is generated properly.

[2014-07-18 03:55] GabrieleCocco opened #65 "Can't generate docs on Linux or OSX"
From a clear clone on OSX 10.9.3 + Mono 3.4.0, after having setup the project info through build.sh, I run build.sh ReleaseDoc and I get the following error:

fsharpi --define:RELEASE generate.fsx

/Users/gabriele/Projects/ProjectScaffold/docs/tools/generate.fsx(29,1): error FS0078: Unable to find the file 'NuGet.Core.dll' in any of
 /Library/Frameworks/Mono.framework/Versions/3.4.0/lib/mono/4.5

[2014-07-18 04:16] GabrieleCocco opened #66 "Handling parameters inferred to be of any type"
The API docs generated from the sample file Library.fs report:

hello num
Signature: num:'?14729 -> int
Type parameters: '?14729

It's probably related to the fact the parameter of the function hello is inferred to be of an arbitrary type 'a.
Not a big issue in itself, but a different syntax (it may be just " 'a ") should be produced.

[2014-07-18 14:22] #66 closed, assigned to nobody

[2014-07-20 09:49] GabrieleCocco opened #67 "Cannot generate documents for projects targeting Framework 4.5 and using specific 4.5 features"
I'm working on a project that targets .NET framework 4.5 and uses specific 4.5 features/objects, like IReadOnlyDictionary<K,T>.
When I run build.cmd ReleaseDocs on the dll resulting from compilation the generator crashes (stack trace reported below). If I substitute IReadOnlyDictionary with a simple Dictionary and leave 4.5 as target framework, the docs generation run fine, as well as I change the

[2014-08-01 07:29] ashtonkj opened #69 "[Enhancement] Generate AssemblyInfo.fs / AssemblyInfo.cs for all projects that form part of build"
I have added a few utility features to my build script that I find makes it more flexible. A lot of the AssemblyInfo is the same between different assemblies within the project (With only the title actually changing - and for that I use the project name). Does this seem like a valid enhancement?

Snippet of updated build script:

[code]

[2014-08-04 14:07] #69 closed, assigned to nobody

[2014-08-07 22:36] tpetricek opened #72 "Support automatic tagging"
We added this to Deedle: https://github.com/BlueMountainCapital/Deedle/blob/master/build.fsx#L199

It automatically creates a github tag for the current version every time you run `build Release`.

[2014-08-10 03:46] pblasucci opened #73 "Confused about recent changes to master"
I've just rolled back the last 4 commits (96ea3bea263adefa3fbe39e1cbfabc5281e51639, 9d69ea6f16a5868abf716b9b0d5e49ebe90538c7, 04cc1dbad3df0959f568fb20a578e441c7e0c953, 88ba4f5c87fd67b08a724adbd3cfe387e9a05aea) to master, as the seem to have come out of nowhere. The changes made in those commits have been captured into a separate branch called `packet`. Hopefully, @forki will weigh in on this issue

[2014-08-10 16:44] #73 closed, assigned to nobody

[2014-08-11 22:50] tpetricek opened #74 "Publishing documentation is broken"
What is the purpose of the `fullclean tempDocsDir` here: https://github.com/fsprojects/ProjectScaffold/blob/master/build.template#L192?

I had to remove this line - it deletes the `.git` folder that is created when cloning the repo on the previous line, and so you cannot commit & push documentation.

It should be deleted - but I'm curious what was the purpose?

[2014-08-24 14:47] tpetricek opened #75 "Add documentation tests"
I did some improvements to the documentation tests in F# Data and added this to Deedle, so I think that is another nice feature that could be included in the project scaffold.

The code looks for all documentation files and makes sure that they can be type-checked and evaluated without causing an error: https://github.com/tpetricek/Deedle/blob/tpetricek.PerfTests/tests/Deedle.Documentation.Tests/D

[2014-08-26 06:30] cdrnet opened #76 "Support for Bash on Windows"
Currently most projects using FAKE and based on ProjectScaffold provide two build runners:
- build.cmd: for cmd.exe using .Net
- build.sh: for sh/bash using Mono

Unfortunately I cannot build any of these projects directly from bash on Windows (e.g. the MSys bash that comes with Git+win) because `build.sh` assumes Mono. I fix this in my own projects by adding a third runner:
- buildn.sh: for sh/ba

[2014-09-16 08:17] forki opened #80 "Use paket instead of nuget"
This is only for discussion.

Do we want to use paket instead of nuget?
See http://fsprojects.github.io/Paket/

[2014-09-19 09:52] forki opened #82 "Create github releases"
See https://github.com/fsprojects/Paket/commit/68704bcbb11cece54d363b3ee2099d5d6e2a3409 and https://github.com/fsprojects/Paket/commit/d33887d0292ef6487f2bcb74b0e6e81a39d6f496#diff-6074983490330a0aac1bd23c958232d7R282

It would not be that hard. If we want to do it.

[2014-10-09 15:48] #76 closed, assigned to nobody

[2014-10-09 15:52] #23 closed, assigned to nobody

[2014-10-09 21:45] isaacabraham opened #90 "Locally-generated documentation has incorrect link to local css and js"
On the latest version, I took a clean download, ran build.cmd with some project name. It correctly built and generated everything.

However, the paths to both the "style.css" and "tips.js" in the html output files e.g. content.html are incorrect. They point to "/project-name/content/style.css" and "/project-name/content/tips.js" (where project-name = the name of your project) when they should in f

[2014-10-10 22:41] pblasucci opened #91 "Create walk-through covering typical use cases"
Given all the new features that've been added, there are several requests in the community for a better description of how to use Scaffold. Ideally, this should be done using Scaffold itself (i.e. generated content).However it maybe less confusing (and reach a wider audience) to put it in a blog or wiki somewhere.

[2014-10-10 22:52] #16 closed, assigned to tpetricek

[2014-10-14 15:48] #80 closed, assigned to nobody

[2014-10-14 16:27] pblasucci opened #96 "Add target(s) for viewing API docs and help files locally"
Basically, copying existing tasks and change the `--define:RELEASE` flag to be `--define:DEBUG`.

Maybe call the new tasks "Preview___" instead of "Generate___"?

[2014-10-14 17:07] prosconi opened #98 "Changed links at bottom of index.fsx to point to initialized project"
The links in index.fsx are hard coded to fsprojects/FSharp.ProjectScaffold

https://github.com/fsprojects/ProjectScaffold/blob/master/docs/content/index.fsx#L62-L66

[code]

Init.fsx should change this file in order to point to the newly initialized project.

[2014-10-16 13:21] forki opened #100 "Create release.cmd and release.sh automatically"
Manual process described in http://fsprojects.github.io/ProjectScaffold/tutorial.html#Release

[2014-10-20 07:20] aureole82 opened #104 "System.TypeLoadException: Der Typ "Microsoft.FSharp.Compiler.SourceCodeServices.InteractiveChecker" in der Assembly "FSharp.Compiler.Service, Version=0.0.71.0, Culture=neutral, PublicKeyToken=null" konnte nicht geladen werden."
We've already talked about that issue yesterday (on the OpenSpace in Leipzig). Generating the documentation breaks if you don't have the latest version of FSharp:

    System.TypeLoadException: Der Typ "Microsoft.FSharp.Compiler.SourceCodeServices.InteractiveChecker" in der Assembly "FSharp.Compiler.Service, Version=0.0.71.0, Culture=neutral, PublicKeyToken=null" konnte nicht geladen werden.

[2014-10-20 11:34] bartelink opened #106 "Update GitHub project description to fit broadened mission"
Right now, the title reads:

Would

<strike> >Prototypical .NET solution: file system layout, package management and build/doc generation scripts (originally developed by F# foundation but not F# specific)</strike>

make more sense? (If anyone wants to point out holes / over-stretching we can amend it)

See https://github.com/bartelink/ProjectScaffold for preview

[2014-10-21 21:51] Slesa opened #110 "ArgumentException when running build.cmd"
Running for the first time in this directory, build.cmd reports 'build process successful, 0 errors, 0 warnings' Starting target RunTests.
...
D:\dev\github\Poseidon.new\packages\NUnit.Runners\tools\nunit-console.exe "-nologo" "-noshadow" "-labels" "D:\dev\github\Poseidon.new\tests\Poseidon.Tests\bin\Release\Poseidon.Tests.dll" "-xml:TestResults.xml"
ProcessModel: Default    DomainUsage: Single
Ex

[2014-10-24 18:33] rojepp opened #112 "Scaffold for Type Providers"
It would be great to shorten the distance from having an idea for a type provider to spiking it.
Some changes to ProjectScaffold would be:
- Two test solutions, one for implementation and another for testing the TP.
- The implementation solution has debug action set to start the Test solution.
- The implementation solution would probably still have its own test project, for regular, non-TP unit te

[2014-10-25 16:57] aureole82 opened #113 "template.cshtml: When called from 'build.fsx', use the public project URL as <root> otherwise, use the current 'output' directory."
Looking into the template.cshtml:
"When called from 'build.fsx', use the public project URL as <root> otherwise, use the current 'output' directory."

That's calling build.cmd ...
C:\Temp\ProjectScaffold\docs\tools\templates\template.cshtml:40

[code]

becomes:
C:\Temp\ProjectScaffold\docs\output\index.html:104

[code]

But how could I generate docs without the Release switch? What's the _otherwis

[2014-11-01 15:47] #113 closed, assigned to nobody

[2014-11-01 15:47] #96 closed, assigned to nobody

[2014-11-08 20:21] devboy opened #119 "Generating Docs on Mono fails"
When trying to generate docs on Mono (v3.10 on OSX 10.10) it complains about a missing dll: `/Users/devboy/Development/devboy/Paket.Unity3D/docs/tools/generate.fsx(30,1): error FS0078: Unable to find the file 'Microsoft.Web.XmlTransform.dll'`

When adding the `Microsoft.Web.Xdt` dependency and add it to my generate.fsx `#I "../../packages/Microsoft.Web.Xdt/lib/net40"` I get the following error:

[

[2014-11-09 21:48] Slesa opened #120 "genAssemblyInfo does not respect subfolders"
The generated build.fsx assumes in its genXXAssemblyInfo method, that all projects are located within src/$project.

If you have something like
* src/Backoffice/Project1
* src/Backoffice/Project2
* src/Frontoffice/Project1
* src/Frontoffice/Project2

then all AssemblyInfo files will be written to src/$project, which will never be part of any project.

Maybe the given projectPath should be respecte

[2014-11-16 13:15] TWith2Sugars opened #122 "Bad commit?"
Looks like a1c6b8af233373594aa9f21be36446a8092ec0db might be a mistake?

[2014-11-16 19:10] #122 closed, assigned to nobody

[2014-11-19 23:21] prosconi opened #123 "Remove traceImportant from build.template file in the successful generateHelp branch"
In the generateHelp method in the build.template file

https://github.com/fsprojects/ProjectScaffold/blob/master/build.template#L185

[code]

`traceImportant` writes to standard error and can cause some build systems to fail because of this. Recommend using `trace` instead.

[2014-12-11 18:13] cloudRoutine opened #127 "travis.yml before_script"
is there a reason the default file doesn't include

[code]

?

[2014-12-16 18:46] tpetricek opened #129 "Releasing fails out-of-the-box (relasing to GitHub)"
I just tried using ProjectScaffold on a new project and `build Release` (auto-generated with no changes) fails - I suspect this is in the "release to github" stage of the `Release` target. The log is:

[code]

I suspect this is happening because I didn't explicitly specify user name / password when calling `build Release`. But is there a way to make the build script ask for those?

/cc @forki - I

[2014-12-17 06:32] baronfel opened #130 "Consider integration of doc publish with ReadTheDocs"
https://readthedocs.org is a collation site for docs for projects. Maybe we could investigate what it would take to take the docs generated by project scaffold (and the FSharp.Formatting) package and make them compatible with this system out of the box?

https://read-the-docs.readthedocs.org/en/latest/getting_started.html#in-markdown

[2015-01-06 18:32] tpetricek commented on #74
The `fullclean` command apparently reappeared, so I deleted it again: https://github.com/fsprojects/ProjectScaffold/commit/412839b7d067beb07f2eaf20c770a7f9862c460a

If someone understands why we need this, please feel free to explain & put it back...

[2015-01-06 18:32] #74 closed

[2015-01-11 11:56] vincpa opened #133 "Missing dependency AspNet.Razor after initial build.cmd"
To reproduce the issue.

1. Clone from github
2. Run build.cmd and set up a new project
3. Delete the packages folder. It should restore packages to a workable state.
4. run build.cmd again

It will download all missing packages except for AspNet.Razor package and the build fails.

generate.fsx(28,1): error FS0084: Assembly reference '../../packages/Microsoft.AspNet.Razor/lib/net40/System.Web.Razo

[2015-01-11 12:08] forki commented on #133
Yep this is related to new #fsharp.formatting release. The dll is now in
same folder as FSharp.Formatting.

Please fix locally. We also have to fix here.
On Jan 11, 2015 12:56 PM, "Vince Panuccio" <notifications@github.com> wrote:

[2015-01-12 08:20] #133 closed

[2015-01-12 12:07] vincpa commented on #133
Thank you.

[2015-01-20 12:20] matthid commented on #119
You can now try with #135.

[2015-01-20 12:28] matthid commented on #65
Please try with #135.

[2015-01-25 01:30] #120 closed

[2015-02-15 18:33] ovatsus opened #140 "Fresh clone + run build.cmd fails"
Locked version resolutions written to C:\Git\FSharp.ProjectScaffold\paket.lock
    Downloading fsharp/FAKE:412ed0da4a9a8635e243e2ea06cf654ca805f6d8 modules/Octokit/Octokit.fsx to C:\Git\FSharp.ProjectScaffold\paket-files\fsharp\FAKE\modules\Octokit\Octokit.fsx
    Paket failed with:
            Could not find file 'C:\Git\FSharp.ProjectScaffold\paket-files\fsharp\FAKE\modules\Octokit\paket.version

[2015-02-15 18:56] cdrnet commented on #140
Yes, I noticed this as well when looking at fsprojects/Paket#600, seems to be related.

[2015-02-15 19:01] ovatsus commented on #129
I solved the same problem in FSharp.Data with a simple ReadLine:

https://github.com/fsharp/FSharp.Data/commit/a85c9850f57a6fe7c7f2876c964b998f8ac72dc5#diff-6074983490330a0aac1bd23c958232d7R226

[2015-02-16 06:47] forki commented on #140
/cc @sergey_tihon

[2015-02-16 10:14] #140 closed

[2015-02-16 10:47] #119 closed

[2015-02-21 20:51] pblasucci opened #142 "Quotation marks entered by user during initialization wizard aren't properly escaped."

[2015-02-21 21:43] pblasucci commented on #142
Closed via aa47148b6c21e150b8766be225811d56847b0603

[2015-02-21 21:43] #142 closed

[2015-02-26 10:07] Vidarls opened #144 "Stack overflow exception when generating documentation"
Getting stack overflows today when generating documentation.

Seems it was introduces when you moved to using FSharp.Core as a nuget package.

Clean checkout for 2a87478f5121930f4fec9b9ca1846fc117a5058e seems to work.
Clean checkout for 83f0514da822648ad5b1a5efdad3be1e2d21c086 seems to create stack overflow.

Will investigate further.

[2015-02-26 10:07] Vidarls commented on #144
![so](https://cloud.githubusercontent.com/assets/549092/6389809/9dda828c-bda7-11e4-893c-8fdd7c216dc6.png)

[2015-02-26 10:11] forki commented on #144
https://github.com/fsprojects/FSharpx.Reflection/issues/1 sems I'm not the only one.

[2015-02-26 10:16] Vidarls commented on #144
Confirmed, just manually reverted the changes from 83f0514da822648ad5b1a5efdad3be1e2d21c086 and voila, no more stackoverflow exceptions

[2015-02-26 10:16] Vidarls commented on #144
That is current master minus changes from 83f0514da822648ad5b1a5efdad3be1e2d21c086 is ok,

[2015-02-26 10:18] Vidarls commented on #144
Will do a pull req

[2015-02-26 10:20] Vidarls commented on #144
TIL: git revert is very useful :smile:

[2015-02-26 10:26] forki commented on #144
But removing FSharp.Core package will create other issue.

If FCS creates a StackOverflow on FSharp.Core nuget package then this needs to be investigated.
/cc @dsyme @7sharp9 @tpetricek @dungpa

[2015-02-26 10:30] Vidarls commented on #144
Better with some corner case issues in the master branch than outright stackoverflows? We can go back ot using the nuget package once FCS have sorted the problem

[2015-02-26 10:32] forki commented on #144
I agree.

[2015-02-27 18:40] t3476 opened #146 "src is polluted by generating process."
I observed some strange files in src:
  src/home/t3485/FsProject/src/FsProject1/AssemblyInfo.fs
  src/FsProject1/obj/Release/FsProject1.dll
The first one includes my absolute full path of my projects, I think this should not be happened because it's not informative for a project at all.
The second one shows there's a library built in src but It looks this should only be in bin not src.

[2015-02-28 08:22] Vidarls commented on #42
#102 is now merged, and as such ProjectScaffold supports C# projects. We're using it for more C# projects than F# projects now :smile:

[2015-02-28 08:27] forki commented on #42
@Vidarls my sincerest condolences for having so many C# projects

Joking aside, thanks for helping us to make this ecosystem great. Your work on all these projects is super cool. :heart:

[2015-03-02 07:51] Vidarls commented on #42
Don't be sorry, adding Scaffold, Format and Fake, makes every project an F# project :stuck_out_tongue_winking_eye:

[2015-03-19 09:19] bleis-tift opened #149 "Initial README.md"
After the build.cmd is run, the README.md file is ProjectScaffold's it.
I input authors and a project description and an information about github.
I want that the ProjectScaffold will create the README.md using above information.

[2015-03-19 09:29] bleis-tift opened #150 "license options"
By default, the license is [Unlicense](http://unlicense.org/).
I want to select it from some licenses(ex. GPL, MIT, CC0, ...).

[2015-03-24 09:18] dnauck opened #152 "CopyBinaries target does not support web application projects"
The CopyBinaries target was introduced in pull request #116 and copies all data from each project's ```bin/Release/``` folder into the bin folder.

A web application project does only have a ```bin/``` folder, whatever configuration (Debug; Release) is used. So as soon as you add a web application project to your solution this task fails because it cannot find the ```bin/Release``` folder. It shou

[2015-03-24 10:14] Vidarls commented on #152
Is this is just a different convention for the default output path of the project, or is it something more hardwired, IE not possible to change in project->properties->build->output path?

Pre CopyBinaries, each new project had to manually set the output path to `[project root]/bin`
The goal of copy binaries is to allow easy adding of new projects without having to worry about output path settings

[2015-03-24 10:18] dnauck commented on #152
Hi,

you new solution is top. But a WebApplication has this as default and also need this setting; otherwise it's not abel to load its binaries on startup.

Maybe you can check on your loop method if ```bin/Release```exists; otherwise try ```bin/```and if both do not exist -> ignore this project.

[2015-03-24 10:27] dnauck commented on #152
Well, but using the project's output path from Release configuration would be better ;)

[2015-03-24 11:02] Vidarls commented on #152
Would be cool to have the output detection in the ProjectFile helper or something?

But: I have expended my Yak shaving quota for some time now, which mean I have no idea when I might get the chance to have a go at this

[2015-04-04 13:24] tpetricek opened #154 "Grow scaffold from "script" to "library" project"
I think the ProjectScaffold follows a pattern usual in all F# projects - it started with two fairly simple script files (generating documentation and FAKE build script) that keep growing and getting more complex. I think this is quite natural (Literate documentation in F# Formatting started as a script file too :-)). But I think that ProjectScaffold has now reached the level when it is too complex

[2015-04-04 19:52] tpetricek commented on #154
Another useful project that we should look at is https://github.com/matthid/Yaaf.AdvancedBuilding by @matthid, which he mentioned here: https://github.com/tpetricek/FSharp.Formatting/pull/275

I think that what I'm suggesting here is actually closer to what @matthid is doing. And I 100% agree about the complexity of ProjectScaffold.

[2015-04-04 21:51] matthid commented on #154
Well, initially AdvancedBuilding was a project to improve support for building for multiple targets, but it didn't worked out the way I imagined. As a matter of fact `msbuild` is good enough if you work with the platform variable (which seems to be never used besides `AnyCPU`, and actually works on recent xbuild/mono as well). As a matter of fact, if used in a specific way you can get pretty good

[2015-04-06 15:59] delexi opened #156 "First build.sh fails System.TypeLoadException"
I cloned this repo, `cd`ed into the cloned directory and executed `./build.sh`. It then fails in the `GenerateHelp`-Target with the following output:
[code]
This is on Linux with
- NuGet 2.8.50926.602
- fsharp 3.1.1.31
- mono 3.12.1

If you need more information or the complete output, please let me know.

[2015-04-06 17:00] dsyme commented on #156
See also https://github.com/tpetricek/FSharp.Formatting/issues/277#issuecomment-90117760

Maybe try changing https://github.com/fsprojects/ProjectScaffold/blob/master/paket.dependencies#L3 to

    nuget FSharp.Formatting 2.8.0
    nuget FSharpVSPowerTools.Core 1.7.0

[2015-04-06 17:32] delexi commented on #156
@dsyme That makes it work for me, thanks!

[2015-04-07 09:26] Vidarls commented on #154
My main concern if moving to a library type project is that we don't destroy the ease of customizing.

IE: Scaffold is (at least for me) a great starting point, but I need to tweak it a bit to do exactly what I want.
Currently It is relatively easy for me to maintain my project specific tweaks while keeping up to date with the latest and greatest.

As long as we simply move helper functions to a l

[2015-04-07 19:05] lfn3 opened #159 "Generating reference docs fails on linux"
After trying the fix in #156, which got me past the error described there, I ran into this:

[code]

At the "Generating Reference Documentation" step.

This is under Mono 3.2.8, FSharp 3.0 and nuget 2.8.60318.667

I'm not really sure how to debug it further, I'm only really just getting started with F#.

[2015-04-08 08:48] halcwb opened #160 "How to move existing solution to scaffold setup"
It would be nice to have a guide how to move an existing solution to the scaffold structure. At the moment I am trying to do this by trial and error.

[2015-04-08 09:20] Vidarls commented on #160
Not sure there is a _single_ correct way of doing that..

My procedure is quite simple:

1. run initial scaffold build to initiate solution and stuff
2. Copy _projects_ from existing solution to src folder
3. Copy _test projects_ from existing solution to test folder
4. Add projects to newly created scaffold solution using _add existing project_
5. Run .\paket\paket.exe convert--from--nuget hard (

[2015-04-08 09:38] halcwb commented on #160
That would be a way, only, I already have a solution on github with a src folder, i.e. the structure matches the scaffold setup.

[2015-04-08 10:42] Vidarls commented on #160
I've done the same procedure with existing projects with almost matching structure, and since git operates on file content, it usually creates nice diffs, even if your solution and folders are not the same.

But again, my experience may not apply to others.

[2015-04-08 21:02] halcwb commented on #160
I am still having trouble getting it working with a multi project solution. Seems that the current setup is geared toward a single project solution. I have modified the build script to suite my needs but the build target now fails. The current script I am using looks like:

	// --------------------------------------------------------------------------------------
	// FAKE build script
	// --------

[2015-04-09 04:42] Vidarls commented on #160
Any reason for not just building your .sln file rather than individual proj files?

[2015-04-09 13:54] halcwb commented on #160
The reason is that the projects in the solution are services that work with each other, so, I would like to have more fine grained control. However, I can build the solution as a whole, however, I then still run into errors. When I build the solution manually (doing a rebuild), it works. Trying to build the solution by the build script runs into errors. Unfortunately, there is no real logging, and

[2015-04-09 14:01] Vidarls commented on #160
Did you convert from nuget to Paket dependency managmenet?

[2015-04-09 14:18] halcwb commented on #160
Yep.

[2015-04-09 14:29] halcwb commented on #160
This is what I get checking the offending paket command:

  1) Building c:\Users\hal\Dropbox\Development\GenPres\GenPres.sln failed with e
xitcode 1.
  2) MSB3073: c:\Users\hal\Dropbox\Development\GenPres\.paket\paket.targets(36,5
): The command ""c:\Users\hal\Dropbox\Development\GenPres\.paket\paket.exe" rest
ore --references-files "c:\Users\hal\Dropbox\Development\GenPres\tests\Informedi
ca.Util

[2015-04-09 15:34] Vidarls commented on #160
Now I'm blank. @forki any idea?

[2015-04-09 15:34] forki commented on #160
https://github.com/fsprojects/Paket/issues/762?

[2015-04-10 07:37] halcwb commented on #160
Thanks to @forki, I was able to run the build with:

	Target "Build" (fun _ ->
		!! "GenPres.sln"
		|> MSBuildReleaseExt "" [("RestorePackages", "False")] "Build"
		|> ignore
	)
So, disabling the restore process during build seems to fix the issue. However, moving a multiproject sotion to the scaffold still has some challenges, I'll come back to that.

[2015-04-10 07:43] forki commented on #160
("RestorePackages", "False") should be set automatically in FAKE 3.38 - can you please try to verify that?

[2015-04-10 07:44] forki commented on #160
@thorium: does `FAKE 3.38 work for your scenario?

[2015-04-10 12:03] Thorium commented on #160
I actually still use plain MSBuild Xml and not Fake... So I did set it just RestorePackages false as a property and get (only) a minute away from build.

[2015-04-12 11:19] matthid commented on #159
This *looks* you compile razor templates with a different version of FSharp.Formatting than what you are using at execution time. As normally you should get a `TemplateCompilationException` for such things. Have you multiple versions of FSharp.Formatting laying around? Is this a clean `ProjectScaffold` project? Do you have a repro?

[2015-04-12 20:58] lfn3 commented on #159
It was a clean pull, I didn't change any code aside from the package version lock thing in #156.

I did have some issues pulling the packages (intermittent failures during download) but that shouldn't have resulted in multiple copies of the same package... right?

In any case, I'll try another pull and let you know if the same issue occurs.

[2015-04-16 03:12] DamianReeves commented on #42
In the spirit of this thread, it would be great if as part of the options in the init.fsx script if we allowed the user to decide if the default project should be an C# project instead of F#.

[2015-04-18 22:14] CumpsD opened #163 "Depend on FSharp.Core nuget?"
Apparently it is best practice to reference F# Nuget package instead of depending on the one in the GAC.

Maybe ProjectScaffold can generate this right away? Adding FSharp.Core to paket.dependencies and paket.references

https://github.com/fsharp/fsharp/issues/352

[2015-04-18 22:31] forki commented on #163
Please read @dsyme's guide on referencing the fsharp.core. http://fsharp.github.io/2015/04/18/fsharp-core-notes.html referencing the nuget package is not the best solution in every situation. We should discuss a way to bake the guide into projectscaffold as best as we can.

[2015-04-18 22:33] CumpsD commented on #163
Thanks, didn't knew that, thought I overheard you say always reference the nuget :)

[2015-04-18 22:35] forki commented on #163
Yes I did. That's probably one of the reasons why @dsyme wrote this very detailed guide ;-)

[2015-04-19 10:10] dsyme commented on #163
I don't actually see many technical problems with referencing the current nuget packages, But ideally the VS and XS templates would be updated for consistency.

[2015-04-19 10:11] dsyme commented on #163
If you like send a PR with updated guidance to that guide, and we can discuss on that PR thread.

[2015-04-19 10:31] forki commented on #163
Yes I was thinking about this. But I have to reread, rethink and test some
things before I do this. But I think the discussion will be much easier
now, since the new guide has already so many things covered.
On Apr 19, 2015 12:11, "Don Syme" <notifications@github.com> wrote:

[2015-04-20 10:15] yukitos opened #165 "Need to update documents about 'define-output' and 'include-output' commands are not working by default."
@tpetricek  taught me the reason [on twitter](https://twitter.com/tomaspetricek/status/590092971950923777), and there's no documents about it.
I think we need to provide the way to enable it (or at least add description to enable it).

[2015-04-21 09:14] halcwb opened #166 "repo.Revision is deprecated."
In the 'SourceLink' target the following is deprecated:

    proj.CreateSrcSrv baseUrl repo.Revision (repo.Paths files)

the suggestion is that is should be: repo.Commit

[2015-04-21 09:17] forki commented on #166
Please send a pull request. Thanks

[2015-04-21 09:18] halcwb commented on #91
Indeed this is something I am struggling with specifically:

* How to convert an existing solution to the scaffold structure
* How to use the scaffold structure, i.e. tweak the build script to handle the scenario in which the solution contains multiple packages.

For example I did something like this:

	// --------------------------------------------------------------------------------------
	// F

[2015-04-23 01:24] t3476 opened #169 "build script failed which can be easily resolved"
I encounter this error on linux mono.

This error can be resolved by adding a line at build.template's beginning

[2015-04-23 14:58] halcwb commented on #166
I think I made a [pull request] (https://github.com/fsprojects/ProjectScaffold/pull/167)?

[2015-04-23 20:03] dsyme commented on #163
I've been thinking. It does seems pretty reasonable for the scaffold to rely on the nuget package at this stage, though it may cause some pain, either for consumers or later if the package changes in some way.

[2015-04-23 20:20] dsyme commented on #163
I've starterd a discussion thread about this here: https://github.com/fsharp/fsharp.github.io/issues/26

[2015-04-23 20:23] Rickasaurus commented on #154
It would be really nice to have `generate.fsx` as a library that can be parameterized in a nice way, as it stands the errors I've gotten when things break with it are awful and so we've disabled it in most of our projects. I think most people only need the standard use case and customization could always be done by forking and building it yourself.

[2015-04-23 20:31] Rickasaurus opened #170 "StackOverflowException when generating reference documentation"
This is really strange - it's happening on our build server but not when we build locally:

[2015-04-23 20:54] tpetricek commented on #170
Can you share what is in `build.fsx` on line 196?

If this is invoking F# Formatting to generate XML documentation, then I think we might have seen this error before (cc @matthid). But the best choice would be to update to the latest F# Formatting, where a lot of things have been significantly improved (thanks to @matthid's great work :-))

[2015-04-23 21:04] Rickasaurus commented on #170
Sure, 196 is the second line of:
[code]

[2015-04-23 21:06] Rickasaurus commented on #170
What's the best way to update? Just pull the latest docs/tools from the scaffold git?

[2015-04-23 23:21] matthid commented on #170
It's hard to tell without the stack trace of the overflow, however most of the time when this happens it is related to FSharp.Compiler.Service getting an invalid FSharp.Core.dll and FSharp.Core.(optdata/sigdata) combination.

To further track this down:
Is your build setup to emit a FSharp.Core.dll in the output directory? Can you try emitting FSharp.Core.sigdata and FSharp.Core.optdata as well or

[2015-04-24 20:54] cantsin opened #171 "xbuild fails"
- Using mono 3.12.1
- To be clear, running `./build.sh` works, but the result is a project structure that doesn't work with (current) xbuild. This can be seen by simply trying to xbuild ProjectScaffold itself:

[code]

Some additional notes: monodevelop doesn't build due to the same error. Older versions of xbuild/mono seem to work fine. I'm on Arch Linux, if that makes a difference.

[2015-04-24 23:51] cantsin commented on #171
Never mind; got it working by re-installing fsharp. The error message was misleading :)

[2015-04-24 23:51] #171 closed

[2015-04-25 20:09] evilz opened #172 "GenerateHelp : error FS0192: internal error: null: GetTRefType"
Cannot generate help from blank copy of ProjectScaffold,
Any idea ??
Thank

[code]

[2015-04-26 13:02] kurtschelfthout commented on #154
I like the idea of having it as a library too. I don't think we should be relying on git or creating complicated guidelines and file layout patterns to be able to 'fork' a project out of scaffold and then keep it up to date. At the moment agree that keeping up to date is too hard. I typically don't, until things break, and then it's quite an annoying job to come here and figure out what I need to

[2015-05-03 20:47] aureole82 opened #177 "Permission denied (publickey)."
After months I've just tried to get ProjectScaffold running again. I'm stuck in the release process:

My Release target doesn't work.
Works: ```Git.Commit.Commit "" (sprintf "Version %s" release.NugetVersion)```
Works not: ```Branches.push ""```

	C:\Program Files (x86)\Git\bin\git.exe commit -m "Version 1.0.2"
	[master af57ed8] Version 1.0.2
	 2 files changed, 6 insertions(+), 3 deletions(-)
	[ma

[2015-05-04 07:52] forki commented on #177
strange. no idea what's going on, but try to remove the tag manually from the remote and local repo.

The check if you can push from the cmd. And retry

[2015-05-04 08:46] aureole82 commented on #177
Removing both tags and pushing manually can't be the final solution. **What about stopping the whole release process if pushing fails?**

Regarding the *Permission denied (publickey)* issue: It works on my manchine at the office. So I need to investigate the differences :-( Do you know if I need the Git directory in my `PATH` variables?

[2015-05-04 10:01] cdrnet commented on #177
It may be a good idea to reorder the target such that we first create both commit and tag locally and then, in the end, push to the remote repo (and populate the github release).

However, I don't quite understand yet how the remote tag can possibly point to a different commit after pushing than the local tag. In order to understand what has happened, in the broken repo clone, can you print out th

[2015-05-04 10:22] aureole82 commented on #96
Sorry guys, I don't get it.

@pblasucci Somebody implemented the task `GenerateHelpDebug`. So calling `> build GenerateHelpDebug` does the job. But is it possible to set a switch which calls `GenerateHelpDebug` on `>build.cmd` and `GenerateHelp` on `>release.cmd`?

But that doesn't work
 would appreciate if your solution could be implemented. Especially as I fail all the time.

@forki Sorry, I can

[2015-05-04 12:28] aureole82 opened #178 "Unable to parse template file paket.templateNo indented block following name 'tags' line 10."

[2015-05-04 13:01] #104 closed

[2015-05-04 19:42] aureole82 commented on #177
As I said

so the origin/master don't know about the last commit and as far as I understand the following marks the latest remote commit as a release:
[code]
Here is the output you requested:
[code]
Sorry, my local git is misconfigured. I'll try to fix...

[2015-05-04 20:50] aureole82 commented on #177
Ok, after a lot of pointless stackoverflow posts I quit and took the [`ssh-agent-utils.ps1`](https://gist.github.com/markembling/187305) script we're using at work. After running it my ssh-agent is up and configured like you need it to push sucessfully.

**Is there another way to check the ssh-agent and run if necessary?**

And just for newbies like me: Call `>Set-ExecutionPolicy Unrestricted` on

[2015-05-05 04:54] cdrnet commented on #177
Ah yes - the problem is that in Octokit we do not provide the `target_commitish` argument when we create the release, so in case the tag does not exist yet it falls back to master. If we'd explicitly set the commit hash there (i.e. the output of `git rev-parse 1.0.6`) then creating the release should error as expected.

[2015-05-19 15:29] panesofglass commented on #154
We had a discussion yesterday in which we proposed using [Yeoman](http://yeoman.io/) [generators](http://yeoman.io/authoring/). Yeoman runs on node, but the upside is that it exists, provides a cross-platform story, and follows the approach taken by the ASP.NET team. If nothing else, it could provide a path to something better.

[2015-05-19 16:12] Krzysztof-Cieslak commented on #154
Following Ryan comment - discussion took place on F# slack channel (http://fpchat.com/), I'd love to invite anyone who still is not hanging out there ;)

[To be clear: If I mention project I mean `fsproj` level, ProjectScaffold is solution level tool]
And to the topic (and maybe bit off-topic). I really think we should try to provide good way of scaffolding  different type F# projects not dependin

[2015-05-22 05:40] koenmetsu opened #183 "Project structure: nuget"
The [project structure documentation](https://fsprojects.github.io/ProjectScaffold/structure.html) mentions a folder "nuget", which has a dead link to https://github.com/fsprojects/ProjectScaffold/tree/master/nuget.

Is there a new place for nuget related files?

[2015-05-22 20:24] CumpsD commented on #154
2 points:

# Big picture
I strongly agree that F# should provide its own development environment story. We shouldn't depend on MS doing it for us, especially not cross platform. You could argue that MS is making the move towards OSS, which is like a huge container ship making a slow turn. However, over time there are always issues popping up with something that appears to be internal MS. (OWIN sto

[2015-05-23 14:19] nathanaeljones opened #184 "Add .editorconfig?"
I'm a fan of [EditorConfig](http://editorconfig.org/), which, AFAIK, is the best way to ensure consistent whitespace in a project, particularly when you have multiple editors and platforms involved.

Here's a sample, edit to taste:

[code]

File can be located in the repository root as ".editorconfig", and will apply to all projects within.

[2015-05-24 05:16] cdrnet commented on #184
We should not define `end_of_line` here since this is controlled by git and depends on the environment.

[2015-05-27 21:28] bbenoist commented on #184
:+1: for EditorConfig support!

However, I would prefer keeping the things as simple as possible and only override properties when exception arises.

Also I only indent by 2 spaces on my projects (mostly proprietary) because it makes the code more concise while still being as readable as with 4 spaces. It helps in reducing the widths of code lines, thus enabling the use of zoom (for visually impai

[2015-05-28 13:17] cdrnet commented on #184
@bbenoist ignore my comment above, I've just realized this repo uses non-standard line ending behavior anyway (IIRC as a work around for symbol source indexing).

[2015-05-28 13:42] amazingant commented on #150
Ditto this. `init.fsx` could be updated to ask the user what kind of license they want to use, and supply a few options; if the user likes any of the specified options, grab the text from the appropriate URL (I tend to go straight for [choosealicense.com][1] as they have a nice listing, and provide a link to the source) and dump it into `LICENSE.txt`, perhaps adding commentary about adding the hea

[2015-06-08 09:15] davidpodhola commented on #170
I am experiencing the same behavior. What is strange is, that running `fsi.exe generate.fsx --define:RELEASE --define:REFERENCE` works
![generate](https://cloud.githubusercontent.com/assets/436605/8030943/41a51346-0dcb-11e5-9307-cf6619dd7117.PNG)

but running `build GenerateReferenceDocs` not
![generatereferencedocs](https://cloud.githubusercontent.com/assets/436605/8030981/6d6215a6-0dcb-11e5-8e88

[2015-06-10 14:39] troykershaw commented on #170
I had this same problem. What solved it for me was to remove references to FSharp.Core from the offending projects and re add it. Works like a dream now!

[2015-06-13 07:21] Adron opened #189 "Build Breaks for Default F# Project"
Here's my error message that I'm getting. Digging in and will attempt to fix and submit PR.

    $ ./build.sh
    No version specified. Downloading latest stable.
    Paket.exe 1.12.1.0 is up to date.
    Paket version 1.12.1.0
    0 seconds - ready.
    Building project with version: LocalBuild
    Shortened DependencyGraph for Target All:
    <== All
       <== GenerateDocs
          <== Generat

[2015-06-13 09:30] forki commented on #189
Target named 'Rebuild' not found in the project.

Is it gone?

[2015-06-15 00:04] Adron commented on #189
@forki I didn't move it, which makes me suspicious. I've dug through the targets file and it is listed. I'm back to troubleshooting it today. So hopefully I can figure it out.

[2015-06-23 07:56] larsw commented on #170
I'm experiencing the same problem; @troykershaw by removing and re-adding FSharp.Core; did you manually edit the .fsproj files? AFAIK it is not possible to remove the FSharp.Core reference from the References folder in the project  (in Visual Studio).

[2015-06-25 17:46] erichgess commented on #189
I am getting the same error when I try to create a project (I am using OSX).  I don't have the naming issue which Adron mentioned (I named my project ScaffTest).  I checked in the fsproj file and the Rebuild target is not there.

[2015-06-26 06:22] Adron commented on #189
Hey @erichgess, another thing to do, verify that you've updated the apt-get repo with the correct ppa and then get the latest mono-devel and mono-complete otherwise this will break every time.

Check out this StackOverflow where I resolved similar issues:  http://stackoverflow.com/questions/30972220/how-can-i-resolve-the-could-not-fix-timestamps-in-error-the-requested

[2015-07-05 01:47] sideeffffect commented on #189
I have the same problem, but naming the project only with lowercase letters doesn't seem to solve the issue.
how did you solve it?

I'm not even able to `./build.sh` your project [https://github.com/Adron/sharpKataStringCalc](https://github.com/Adron/sharpKataStringCalc)

[code]

I'm using Fedora 20, with mono installed from the [mono centos repository](http://www.mono-project.com/docs/getting-sta

[2015-07-05 18:11] sideeffffect commented on #189
this seems to be a recurring problem:

 * 2013
  * [Google: The required attribute "Project" in Import is empty](https://www.google.cz/search?q=The+required+attribute+%22Project%22+in+Import+is+empty)
  * [F# Google Group: New F# 3.1 project templates break Mono](https://groups.google.com/forum/#!topic/fsharp-opensource/1YG5jt-XeKg)
  * [mono/mono PR: Fix for #14922](https://github.com/mono/mono/p

[2015-07-05 20:08] tpetricek commented on #189
I know `<Choose>` was not supported in old versions of Mono, but it has been working fine in recent versions of 3.x and certainly in 4.x.

@sideeffffect Could you by any chance have multiple versions of mono installed (with the default build invoking the old one?)

[2015-07-05 20:21] sideeffffect commented on #189
@tpetricek hi, not that I know of. how could I find out?

[code]

[code]

as I've mentioned, use mono from `http://download.mono-project.com/repo/centos/` on Fedora 20

[2015-07-05 20:46] tpetricek commented on #189
Hmm, 4.0.2 should be the latest. Can you run `which xbuild` (and perhaps check if there is a way to get `xbuild` to print more version information?)

[2015-07-05 21:29] sideeffffect commented on #189
[code]

would maybe this give you more info?

[code]

[2015-07-05 22:31] tpetricek commented on #189
Hmm, did you say earlier that `xbuild` is running XBuild version 12.0?

I'm not really sure what this is supposed to do (@7sharp9 or @rneatherway will probably know better), but perhaps this should invoke the version 14.0, which is also installed on your machine.

Can you try building it using `mono /usr/lib/mono/xbuild/14.0/bin/xbuild.exe MyProject.sln` ?

[2015-07-05 22:35] 7sharp9 commented on #189
afaik xbuild will have assembly redirects to that effect.

[2015-07-05 23:38] sideeffffect commented on #189
@tpetricek somehow 12.0 is the default version even though 14.0 is available
alas both version fail to build ProjectScaffold

[code]

[code]

[code]

[2015-07-05 23:53] rneatherway commented on #189
Please re-run the build with `xbuild /v:diag fsharphelloworld.sln` and post the output here or in a gist.

This normally happens when F# is not installed properly so the `Microsoft.FSharp.targets` file is not found, or previously when `Choose` was not supported. But we are thankfully long past those days.

[2015-07-06 00:03] sideeffffect commented on #189
I installed F# along with the rest of Mono from the Fedora/CentOS/... rpm repositories provided by the Mono project.

[code]

[2015-07-06 09:16] rneatherway commented on #189
Yes, it could well be a problem with the packages themselves.

Could you please post an archive of the project for me to reproduce? I have a recently generated ProjectScaffold project that works fine for me on Debian with mono 4.0.1. The `Microsoft.FSharp.Targets` file is found at `/usr/lib/mono/xbuild/Microsoft/VisualStudio/v/FSharp/Microsoft.FSharp.Targets` during my build. Does the following di

[2015-07-06 11:14] sideeffffect commented on #189
I literally just clone the `ProjectScaffold` repository and inside it run `./build.sh`, but anyway: [ProjectScaffold.zip](https://drive.google.com/file/d/0B4YDtjfjMOS7RkxCYzBZTUFCeTg/view?usp=sharing)

[code]

[code]

[code]

maybe this along with [my earlier comment](/fsprojects/ProjectScaffold/issues/189#issuecomment-118644901) could shine a new light on the matter

[2015-07-06 12:08] rneatherway commented on #189
OK, I suspect then that the problem lies with the Fedora RPMs Xamarin is providing.

[code]

This file simply should exist at that location, and as it doesn't the build will fail. As has been observed, removing the branch of the `Choose` that looks there can force the build to instead look under `Microsoft SDKs`, so this is a possible workaround. I suggest that you file a bug with Xamarin on their

[2015-07-06 12:18] 7sharp9 commented on #189
Maybe @directhex might know whats gone awry?

[2015-07-06 12:29] sideeffffect commented on #189
ok, so this file is missing, but the other are available. shouldn't `<Choose>` deal with this. (If I do my *quick&dirty* solution, everything works)

[Xamarin Bugzilla #31655](https://bugzilla.xamarin.com/show_bug.cgi?id=31655)

[2015-07-06 13:43] rneatherway commented on #189
The `Choose` condition is predicated on the `VisualStudioVersion`:

    <When Condition="'$(VisualStudioVersion)' == '11.0'">

Only then does it look in the old place under `Microsoft SDKs`.

[2015-07-06 22:12] rneatherway commented on #159
It works fine with mono 4.0.2.

[2015-07-06 23:44] bradley-dotnet opened #192 "How do you run Paket (specifically convert-from-nuget) from command line?"
I installed paket from nuget with:

I then tried to run `paket convert-from-nuget`.  It stalled out on a user prompt (it wouldn't let me type into the package manager console). My next thought was to run it from command line, but **how** to do so is not documented.

Just putting `paket convert-from-nuget` into a standard dev command prompt results in an error saying "paket" is not recognized.

How

[2015-07-06 23:50] sideeffffect commented on #189
oh, now I get it. `11.0` is the now old *Visual Studio 2012* and since I'm using *MonoDevelop 5.9.4* it probably pretends to be something like *Visual Studio 2013* aka `12.0`, thanks for bearing with me.

indeed it is a stupid bug in the [`fsharp`](http://origin-download.mono-project.com/repo/centos/f/fsharp/) rpm package that it lacks some files. I hope Mono guys will be able to fix it soon. it s

[2015-07-07 08:56] rneatherway commented on #189
Yes, you're right that `11.0` is the old VS2012, but actually MonoDevelop doesn't pretend to be anything (it doesn't set `VisualStudioVersion` at all). However, empty is still `!= '11.0'` and so it takes the 'new' branch of the `Choose`. This is why there is a copy of `Microsoft.FSharp.Targets` under a path containing just `v` (with no version number). It's a bit hacky, but works fine.

[2015-07-09 11:12] dsyme commented on #189
Earlier @sideeffffect asked "btw shouldn't  ...\Microsoft SDKs\F#\3.0\Framework\v4.0\...  be  ...\Microsoft SDKs\\F#\3.1\Framework\v4.5\... ?"

The answer is "no" - the canonical paths to globally-installed

[2015-07-09 11:18] directhex commented on #189
When someone definitively works out what I'm doing wrong, I'd appreciate a PR against https://github.com/mono/linux-packaging-fsharp - as-is, I'm not clear on what I should actually be doing to fix the packaging.

[2015-07-09 11:30] dsyme commented on #189
@directhex FWIW you should probably move https://github.com/mono/linux-packaging-fsharp/commits/master to tag github.com/fsharp/fsharp tag 3.1.2.3

[2015-07-09 11:31] dsyme commented on #189
Also, if this is an issue with either github.com/fsharp/fsharp or github.com/mono/Linux-packaging-fsharp, then it would be good to have a specific issue in one of those repositories with specific repro steps.

thanks
don

[2015-07-09 11:33] rneatherway commented on #189
@directhex does that repo also create the RPMs? I couldn't see the logic for that.

I just downloaded your latest RPM checked the locations of `Microsoft.FSharp.Targets` against what I have installed from your latest .deb.

RPM:
[code]

.deb:
[code]

So you can see that the copies under `/usr/lib/mono/xbuild/...` are missing from the RPM. This is the problem.

[2015-07-09 11:35] directhex commented on #189
@rneatherway centos branch has the spec file

[2015-07-09 11:47] rneatherway commented on #189
I see the spec file now, but I'm not familiar with the syntax. It seems to list only destinations for the files, but not where they come from. I also notice that you have `rm -rf ${RPM_BUILD_ROOT}%{_prefix}/lib/mono/xbuild`, and the files we need should end up under there so that may be a problem.

[2015-07-09 11:54] dsyme commented on #189
Regardless of other problems, in all cases these SDK paths using "v4.5" are wrong:

    ./usr/lib/mono/Microsoft SDKs/F#/3.0/Framework/v4.5/Microsoft.FSharp.Targets
    ./usr/lib/mono/Microsoft SDKs/F#/3.1/Framework/v4.5/Microsoft.FSharp.Targets

They should be

    ./usr/lib/mono/Microsoft SDKs/F#/3.0/Framework/v4.0/Microsoft.FSharp.Targets
    ./usr/lib/mono/Microsoft SDKs/F#/3.1/Framework/v4.0/

[2015-07-10 11:38] sideeffffect opened #193 "Build on AppVeyor fails -- missing `FSharp.Core`"
I use a project created from `ProjectScaffold`.
Building on Travis works OK, but building on AppVeyor fails with the following error:

[code]

[full log on AppVeyor](https://ci.appveyor.com/project/sideeffffect/fsharphello/build/0.0.1.5)

what am I doing wrong? builds of [`ProjectScaffold` itself](https://ci.appveyor.com/project/fsgit/projectscaffold) seem to be doing OK.

[2015-07-20 15:39] gsvgit opened #194 "Package creation failed"
I try to release my project using [this manual](http://fsprojects.github.io/ProjectScaffold/release-process.html). release.cmd finished with error presented below. Manual package creation with ```build.cmd  BuildPackage``` works fine.

[Current paket.template was automatically generated](https://github.com/YaccConstructor/YC.PrettyPrinter/blob/master/src/YC.PrettyPrinter/paket.template).
```descri

[2015-07-22 04:30] dcohenp commented on #189
I've been struggling with this exact same problem in OS X for quite a while. The cause seems to be different, so I apologize in advance for hijacking this issue, but I'm not sure what the right channel would be.

As stated, I had the problem described here in OS X Yosemite using mono (4.0.2.5) and fsharp (3.1.2.4) from Homebrew. Reading through this thread helped me diagnose it down to a similar p

[2015-07-22 17:27] rneatherway commented on #189
There have been quite a few issues with the Homebrew installation, I suggest opening an issue there, link back here and we can discuss how to fix it. I also have a mac so I can test changes.

[2015-07-22 17:42] rneatherway commented on #189
By the way, I see your point about the `/usr/local/lib/mono` symlink, but the `/usr/local/lib/mono/xbuild/Microsoft/VisualStudio/v` one is there for me:

[code]

[2015-07-22 18:18] dsyme commented on #189
For homebrew put an issue at http://github.com/fsharp/fsharp.  I really don't curate the homebrew release but do update the tag from time to time (if anyone using homebrew cares to take over that duty I'd appreciate it :) )

[2015-07-26 18:45] devshorts commented on #119
Hey everyone, came to try out the scaffolds today on mono as well and getting a similar error:

[code]

[2015-07-26 20:42] matthid commented on #119
@devshorts This seems to be similar to https://github.com/tpetricek/FSharp.Formatting/issues/323. Can you try to update your packages (especially mono)? Otherwise add the workaround I suggested in the linked issue.

[2015-07-27 06:23] dcohenp commented on #189
@rneatherway, thanks! You were right, the Homebrew issue with the symlink was a bit more subtle (and complicated). I expanded (to excruciatingly boring detail) in fsharp/fsharp#451, per @dsyme's request that we put Homebrew issues in that repo.

[2015-07-27 10:50] rneatherway commented on #189
@sideeffffect: could you please try again, as the CentOS packages should now be fixed.

[2015-07-28 19:32] sideeffffect commented on #189
if I got it right, the problem was that in `rpm`s the file `/usr/lib/mono/xbuild/Microsoft/VisualStudio/v/FSharp/Microsoft.FSharp.Targets` was missing.

this file is still missing from the newest package `fsharp-3.1.2.4-0.xamarin.1.noarch.rpm` (uploaded `2015-07-14 10:24`)

[2015-07-28 20:08] rneatherway commented on #189
@directhex what's the status with that package? I saw you did another commit yesterday.

[2015-07-28 20:29] directhex commented on #189
Yesterday's stuff was for 4.0, and is paused pending a reply to a query I sent to Don

[2015-07-28 20:41] rneatherway commented on #189
I see, unfortunately as @sideeffffect posted above, it seems as though the `lib/mono/xbuild` folders are still not being included in the package. Do you have any kind of verbose output that could help us to track down the problem? I don't have access to a Fedora/CentOS machine.

[2015-07-29 20:07] theor commented on #48
http://solomon.io/why-im-done-with-social-media-buttons/ is an interesting article. TLDR: "sharing buttons considered harmful".

[2015-07-29 21:29] theor opened #196 "Is Scaffold able to produce multiple nuget packages ?"
I'd like to keep one solution for several projects, each one producing a nuget package (think of Rx-Main, Rx-WPF, ...). How would you do that with scaffold ?

Thanks,

Théo

[2015-07-29 21:38] sergey-tihon commented on #196
Just put `paket.template` near each project file
Example is here https://github.com/fsprojects/FsUnit

[2015-07-30 12:06] theor commented on #196
...it's obvious now. I guess I misread the paket doc. Thanks a lot!

On Wed, Jul 29, 2015, 5:38 PM Sergey Tihon <notifications@github.com> wrote:

[2015-07-30 15:04] directhex commented on #189
Hm. It *ought* to be okay. I need to read the build logs more carefully.

[2015-07-30 15:16] sergey-tihon commented on #196
The most important thing about `paket.template` to realize it that there are two types of tempaltes:
- project - when Paket tries to infer all information from your project file
- file - when you have manual control over all nuget package properties.

[2015-07-30 15:27] directhex commented on #189
Looks like I cocked up the release & forgot to pull before building. Uploading 0.xamarin.2.rpm

[2015-07-30 15:29] theor commented on #196
Thanks a lot !

[2015-07-30 15:29] #196 closed

[2015-07-30 16:26] rneatherway commented on #189
Looks good! @sideeffffect that file is now present, please could you double-check?

[2015-07-30 16:49] sideeffffect commented on #189
great, the files

[code]

are now present (3.1.2.4-0.xamarin.2). thank you all!

[2015-07-31 11:19] rneatherway commented on #189
@forki this can be closed now

[2015-07-31 11:20] rneatherway commented on #193
Does your appveyor config use VS2013 or VS2015?

[2015-07-31 11:22] #189 closed

[2015-07-31 11:39] sergey-tihon commented on #193
According to build log `FSharpLint` could not find `FSharp.Core`.
It is not directly related to `ProjectScaffold` because we have no dependency to `FSharpLint` now.

//cc @duckmatt

[2015-07-31 12:21] duckmatt commented on #193
@sergey-tihon is correct, that's coming from `FSharpLint` not anything in this project, try upgrading to at least `0.2.5` to fix

[2015-07-31 12:45] sergey-tihon commented on #193
As I understand @sideeffffect uses FSharpLint (0.2.6) https://github.com/sideeffffect/FSharpHello/blob/master/paket.lock#L16

[2015-07-31 12:58] duckmatt commented on #193
The [linked build](https://ci.appveyor.com/project/sideeffffect/fsharphello/build/0.0.1.5) is 21 days old, fingers crossed it would work now on the current master

    FSharpLint 0.2.3 unzipped to C:\projects\fsharphello\packages\FSharpLint

[2015-07-31 15:59] sideeffffect commented on #193
how can I try building on AppVeyor with FSharpLint from master?

[2015-08-01 18:45] duckmatt commented on #193
Sorry I meant building the master branch of your project with FSharpLint >=0.2.5. From your latest builds on app veyor that seems to be the case as it's running as expected:

    Successfully linted C:\projects\fsharphello\tests\FSharpHello.Tests\FSharpHello.Tests.fsproj. Linted 1 files and found 1 warnings.

But the build is now failed by a broken test `FSharpHello.Tests.hello`: https://ci.appvey

[2015-08-02 00:24] sideeffffect commented on #193
good, the 'missing `FSharp.Core`' error seems to be gone. now it fails with [the following message](https://ci.appveyor.com/project/sideeffffect/fsharphello/build/0.0.1.8#L189).
I have no idea what's going wrong. should I create a new issue for this?

[code]

[2015-08-02 00:33] rneatherway commented on #193
This is an issue with FsUnit: https://github.com/fsprojects/FsUnit/issues/23

[2015-08-03 08:28] gsvgit opened #199 "Internal knowledge about release steps required."
Hi

Does any information about Scaffold working process exist? I have a problem with release and seems that I do not understand all steps of Scaffold. For example, I have the next error:
[code]

Whether packaging really should be performed on gh-pages branch? (why binaries should be in temp\gh-pages\src\ ?) If so, then compilation step is missed. If no, then switching back to master does not perfo

[2015-08-05 09:02] #194 closed

[2015-08-05 09:12] gsvgit commented on #199
Seems that I have problems because my gh-pages branch is not clear. It was branched from master and contains src folder. So, packet.template also exists here and Packed try to process it while process all subfolders recursively. May be short note about gh-pages branch should by included to  Scaffold getting started manual? Just to remind user of necessity to clean  directories in gh-pages.

[2015-08-05 09:14] forki commented on #199
Yes. Or even better: try to automate things in the init script

[2015-08-05 12:33] gsvgit opened #201 "Automate gh-pages branch createon"
It would be useful to automate gh-pages branch creation in init script.
Note that Scaffold can be used for projects with long history, so
- gh-pages may exist and contain important data. But in this case it can contain some files (e.g paket.template) which could break package creation process (look at issue #199). So, existing branch should be checked and cleaned if possible.
- gh-pages may not ex

[2015-08-05 12:34] gsvgit commented on #199
Issue #201 created. Seems, that this issue can be closed.

[2015-08-05 12:35] #199 closed

[2015-08-05 13:02] gsvgit commented on #166
Seems that could be closed.

[2015-08-05 13:05] #166 closed

[2015-08-06 13:39] halcwb opened #202 "System.Exception: Empty Release File"
When from the initial project scaffold setup, you clear the release notes file (because it contains project scaffold release notes), and you run `build.cmd`, this results in the following error:

	System.Reflection.TargetInvocationException: Exception has been thrown by the ta
	rget of an invocation. ---> System.Exception: Empty Release file.
	   at Fake.ReleaseNotesHelper.parseAllReleaseNotes(IEn

[2015-08-07 21:53] devboy commented on #154
In my team we maintain a lot of projects, they are all C# and need to support an ancient .NET runtime (3.5), but were all created with ProjectScaffold anyway.

Obvious problems:
- No way to upgrade/update (build.fsx/generate-scripts/dependencies)
- Syncing of multiple projects is therefore impossible

We introduced a base build-script that we download as a paket http dependency so we can add stuff

[2015-08-08 05:20] matthid commented on #154
@devboy You just described in a nutshell what Yaaf.AdvancedBuilding is doing, the difference is that the "config" itself is in F# (https://github.com/matthid/Yaaf.AdvancedBuilding/blob/develop/buildConfig.fsx) instead of json/yaml/xml.
It's just that it is currently trimmed to my use-case (using nunit for example and no SourceLink support to be able to build on linux -> maybe portable pdb allow th

[2015-08-09 20:56] cloudRoutine commented on #192
If you want to use paket from the commandline you need to have the directory where it lives as part of your path. I keep mine at `C:\Tools\paket`. When your shell is in the root directory of your repo you can run it with `.\.paket\paket.exe` (in posh at least). You can also install Paket.PowerShell as one of your posh modules either from [nuget](https://www.nuget.org/packages/Paket.PowerShell) or

[2015-08-09 21:11] forki commented on #192
Does the http://fsprojects.github.io/Paket/getting-started.html tutorial
help?
On Aug 9, 2015 22:56, "Jared Hester" <notifications@github.com> wrote:

[2015-08-12 08:50] gsvgit opened #204 "Is it possible to create multi-dll package?"
Is it possible to create multi-dll package for multi project solution with Scaffold? Seems that current script allow to use "package per project" way only. Seems that script  try to find template file for each project in src folder. Isn't it?

Thanks.

[2015-08-12 11:47] sergey-tihon commented on #204
No, build script process all `*paket.template` files in all project folders.
Here is example of generating 2 nuget packages per project
https://github.com/sergey-tihon/FsUnit/tree/master/src/FsUnit.Xunit

[2015-08-12 23:07] LimoWanKenobi opened #205 "Build failing on OS X for new project created using Project Scaffold"
I found this while updating my paket dependencies in my project [FReD](https://github.com/LimoWanKenobi/FReD) and I am able to reproduce in a newly created project.

I haven't tested on Windows yet and [TravisCI](https://travis-ci.org/LimoWanKenobi/FReD/builds/75218440) was able to build without problems:

It may be related to tpetricek/FSharp.Formatting#328

Environment
=========
OSX 10.10.4

$ m

[2015-08-13 07:03] #204 closed

[2015-08-27 01:27] cloudRoutine commented on #154
FAKE could be the model to emulate for the evolution of project scaffold. It could be run as a commandline tool, or setup with a `fsx`. The core library handles dealing with templates, the filesystem,  fsprojs, solutions, etc. Specialized kinds of projects (MVC, WebAPI, WPF, Console, Suave) get their own modules with helper functions for their setup & configuration.  It can ship with a set of  con

[2015-08-30 23:48] t3476 opened #208 "Proposal: Replace .sln with msbuild .proj"
Here is a stackoverflow question: [Replace .sln with MSBuild and wrap contained projects into targets](http://stackoverflow.com/questions/2472183/replace-sln-with-msbuild-and-wrap-contained-projects-into-targets).
The answer illustrated a msbuild replacement which looks better than what's in .sln. The Contents of .sln looks illogical and verbose.

[2015-09-01 14:55] #24 closed

[2015-09-08 09:56] gsvgit commented on #208
I think that only as option. ProjectScaffold very useful for beginners and .sln is default format when you use MS VS for development. So, sln format support should be default.

[2015-09-09 19:29] lefthandedgoat commented on #53
I had the same issue recently with newer version so Fake.  Installing the Visual F# Tools 4.0 fixed it.

[2015-09-25 09:30] essenciary opened #210 "Creating new project fails with "System.Exception: generating help documentation failed""
Failure info:
[code]

For more info, the output right before the error was:

[code]

[2015-09-26 02:00] adamchester opened #211 "Generating reference documentation fails for PCL Profile259 and System.IO.*"
I created a new blank ProjectScaffold, added an F# PCL (Profile259) Library (VS 2015), added `member x.TestMe = new System.IO.StringWriter()`, then executed `build`. It fails to build.

![projectscaffoldpcldocfailure](https://cloud.githubusercontent.com/assets/570470/10115284/cec3c670-6445-11e5-9404-cfce94cfb3b1.png)

I don't fully understand why, but it seems that F# Formatting doesn't know what

[2015-10-06 18:39] matthid commented on #211
I think the problem is that we (in FSF) add references for the currently running runtime, but not for the runtime of the assembly we analyze. It's not that easy to solve this problem because we would need to be able to somehow read the interesting metadata from the project (see my comment [here](https://github.com/tpetricek/FSharp.Formatting/issues/201#issuecomment-141781848) which resulted from t

[2015-10-06 21:59] adamchester commented on #211
Thanks @matthid, I have now raised a new issue here https://github.com/tpetricek/FSharp.Formatting/issues/346

[2015-10-06 21:59] #211 closed

[2015-10-10 08:31] LimoWanKenobi commented on #205
I am still able to reproduce the issue after updating everything to the latests.

Updated Environment
=========
OSX 10.11

<pre>
$ mono --version
Mono JIT compiler version 4.0.4 ((detached/d481017 Mon Sep 28 17:32:19 EDT 2015)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           normal
	SIGSEGV:       altstack
	Notification:  kqueue
	Architecture:

[2015-10-10 08:37] LimoWanKenobi commented on #119
Also similar to #205. I have updated everything and I can still reproduce the issue. My workaround still works after updating everything.

My OSX 10.11 installation was a clean install. So right now I have a clean environment with only XCode,  Xamarin and Node on it.

For me, this is a OSX only issue as I am able to build the project as is on Windows and Ubuntu.

Building FSharp.Formatting on my M

[2015-10-10 17:06] erdeszt commented on #210
Having the same issue with the same stack traces on ```Mono JIT compiler version 4.0.1 (tarball Tue May 12 15:39:23 UTC 2015)```

[2015-10-16 15:28] robwestwood opened #213 "mozroots no longer required for Mono 3.12+"
Since Mono version 3.12, it is no longer necessary to use the mozroots utility. Upon installation (for packaged mono) cert-sync is run to synchronise OS certificates to the Mono certificate store.

Details: [cert-sync change in Mono 3.12](http://www.mono-project.com/docs/about-mono/releases/3.12.0/#cert-sync).

[2015-10-28 05:35] elliottt opened #214 "Adding additional projects?"
I'm new to msbuild and project organization with .NET projects, so please excuse what feels like a simple question :)

Once I've used the project scaffold to initialize my project, what's the best way to add additional projects under the src/ directory? Ultimately, I would like to be able to do F# development without the aid of an IDE, as I'm more comfortable in a unix environment, but it doesn't

[2015-11-08 14:08] jimmydburr commented on #210
Same problem here as the op.  For reference, I've pasted the complete compiler output of the failing target of the initial build. The problem seems to occur when processing the file 'docpage' (shown below). This problem occurs for me on both Mac w/mono and Windows w/VisualStudio.

This results in a project where Fake can only be used to build certain targets. Build targets for 'GenerateDocs' or 'A

[2015-11-09 17:44] cdrnet commented on #210
// cc @tpetricek

[2015-11-11 10:05] tpetricek commented on #210
Is this the same issue as https://github.com/tpetricek/FSharp.Formatting/issues/328 ?

[2015-11-12 03:54] jimmydburr commented on #210
@tpetricek Possibly. I'm more an F# new-comer but I can follow the line of reasoning on #328. I may be able to discern if my  issue is a dup or not. I'll give it a go and report back. Thx.

[2015-11-15 13:56] jimmydburr commented on #210
@tpetricek Yes! This is the exact same issue as: https://github.com/tpetricek/FSharp.Formatting/issues/328

Hope this helps. Thx.

[2015-11-20 20:05] matthid commented on #210
Can you try the patch in #217?

[2015-11-20 20:54] jimmydburr commented on #210
Yes, absolutely, will do and report back. Many thanks!

[2015-11-20 21:49] sergey-tihon opened #218 "AppVeyor NUnit results"
Would be nice to see NUnit test results in AppVeyor Tests tab, like here https://github.com/Microsoft/visualfsharp/pull/723/files

[2015-11-20 22:09] xavierzwirtz opened #219 "Newly generated projects are locking NUnit to version 3.0.0"
NUnit version 3 has released, and since NUnit in `paket.dependencies` is not locked to version 2 `build.cmd` fails to run.

[2015-11-20 22:09] xavierzwirtz commented on #219
This only applies to newly generated projects.

[2015-11-20 22:13] jimmydburr commented on #210
Yes! Patch #217 fixed this issue for me on both OS X (10.10) and Windows (10).

Once again, many thanks.

[2015-11-20 22:27] xavierzwirtz commented on #219
This is already fixed by e7c9ee4d2d22311cf9d973b26affa878a188f94e

[2015-11-20 22:27] #219 closed

[2015-11-22 00:39] matthid commented on #205
fixed in https://github.com/fsprojects/ProjectScaffold/pull/217.
Problem is FakeLib references F#4 while we are running with F#3.1. RazorEngine uses the loaded assemblies as references for compiling templates and the C# compiler doesn't like the missmatch...

[2015-12-01 16:52] sergey-tihon opened #221 "Update build.fsx using Paket"
Most of build scripts in our projects contain the same targets and differ only in constant values generated during `init.fsx` phase

If we move all project specific configs to separate files like `project.yaml` we should be able to reuse `build.fsx` in projects without modifications.

This should allow up update `build.fsx` in all project without painful merge effort.

Does it make sense for you?

[2015-12-01 17:06] pblasucci commented on #221
I'm generally in favor of this idea (though I do tend to modify my `build.fsx` rather heavily...)

[2015-12-05 10:03] ForNeVeR opened #222 "System.NotSupportedException in <StartupCode$FakeLib>.$Fake.Git.CommandHelper"
I've downloaded the current master branch code, extracted it into the empty directory, and run `./build.cmd` from the PowerShell session. After I enter the project details (project name, author etc.) it builds the project and throws me an exception:

[code]

(Sorry for the Russian stack trace, I still can't get how to switch the default exception language to English in .NET; in English this means

[2015-12-08 14:27] ForNeVeR commented on #222
Currently I cannot reproduce that. Let's say that my environment at that moment was broken and close this.

[2015-12-08 14:27] #222 closed

[2015-12-11 10:47] Thorium opened #224 "build Release not working..."
I was trying to test projectscaffold template (quite out-of-the-box), and `build Release` fails with:

		Paket failed with:
		 Could not find a part of the path 'C:\git\MyTest\temp\gh-pages\src\MyTest\bin\Release\MyTest.dll'.
		Running build failed.
		Error:
		System.Exception: Error during packing ..

I don't know why projectscaffold is using this dll from temp\gh-pages. But the bin-folder is not

[2015-12-14 17:43] zealisland opened #226 "AssemblyInfo: generate BOM header when using Mono"
When run the target AssemblyInfo, the generated AssemblyInfo.fs/cs files contain a BOM header when using Mono on Ubuntu. On Windows, does not observe the same behavior. Any idea?

[2015-12-17 14:14] #146 closed

[2015-12-17 14:15] #169 closed

[2016-01-09 12:17] #210 closed

[2016-01-09 12:18] forki opened #230 "Docs generation fails because of missing System.Web.Razor"
System.IO.FileNotFoundException: Die Datei oder Assembly "System.Web.Razor.resources, Version=3.0.0.0, Culture=de-DE, PublicKeyToken=31bf3856ad364e35" oder eine Abhängigkeit davon wurde nicht gefunden. Das System kann die angegebene Datei nicht finden.

![image](https://cloud.githubusercontent.com/assets/57396/12215983/6865870c-b6d3-11e5-986c-5eead1fcafbe.png)

/cc @matthid @tpetricek @ReedCopsey

[2016-01-09 12:56] forki commented on #230
Seems to be magically fixed with https://github.com/fsprojects/ProjectScaffold/pull/227

[2016-01-09 12:56] #230 closed

[2016-01-11 21:26] ReedCopsey opened #231 "build GenerateReferenceDocs succeeds, but produces no output"
I've been trying to update my project to use the latest ProjectScaffold, but even with a brand new copy (just download and build, on Windows, using VS2013 tools), `build GenerateReferenceDocs` succeeds, but generates no output.

The build step runs, and shows:

[code]

But, as you can see from the above, nothing is put in the `reference` folder under output, and no reference docs are generated.

A

[2016-01-11 21:40] ReedCopsey commented on #231
It also appears that ReferenceBinaries isn't set properly during the init phase - it's coming through as empty.  However, setting it up manually doesn't seem to change the output.

[2016-01-14 00:13] ReedCopsey commented on #231
After further investigating, it appears that the `-d:REFERENCE` flag isn't coming through into generate.fsx correctly.  I'm not sure why, but when I change the [end of generate.fsx](https://github.com/fsprojects/ProjectScaffold/blob/master/docs/tools/generate.template#L140-L146) to:

[code]

And then run, the main help generation succeeds (and prints as expected), but I then see:

[code]

Note tha

[2016-01-14 09:36] forki commented on #231
Target "GenerateReferenceDocs" (fun _ ->
        if not <| executeFSIWithArgs "docs/tools" "generate.fsx" ["--define:RELEASE"; "--define:REFERENCE"] [] then
          failwith "generating reference documentation failed"
    )

is a workaround until we know how to solve https://github.com/fsharp/FSharp.Compiler.Service/issues/511

[2016-01-14 13:34] #231 closed

[2016-01-14 13:43] forki commented on #231
It was an issue with FAKE's script caching. fsiArgs need to cached as well.

In order to fix your issue: "paket update nugate FAKE" should do the trick

cc @matthid

[2016-01-14 13:54] matthid commented on #231
Thanks for the CC. I think this was one of the arguments for FAKE targets instead of compiler directives. I really think we should make the documentation generation a proper FAKE script with multiple targets.

[2016-01-16 14:56] quant1729 opened #232 "Type provider from FSharp.Data crashes Fake"
Hello,

Today I started using project scaffold and immediately faced this issue. If I add to my code some reference to JsonProvider from FSharp.Data, I immediately get build crashing with error:

Binding session to 'D:\Username\Documents\Visual Studio 2015\Projects\A\pac
kages\build\FSharp.Formatting\lib/net40\FSharp.MetadataFormat.dll'...
Binding session to 'D:\Username\Documents\Visual Studio 20

[2016-01-21 09:45] arcturius commented on #232
Hello?

[2016-01-21 09:54] sergey-tihon commented on #232
Please try to use full path to the JSON files "data/file.json"

[2016-01-21 11:55] arcturius commented on #232
Thank you. will try it. Reporting one more issue in a separate ticket.

[2016-01-21 12:03] quant1729 opened #234 "Using events in interop crashes Fake"
Hello,

I am using interop to work with 3rd party software. My C# code crashed Fake on my PC once I added 3rd party libs to the project:

unknown(1,1): error FS1091: The event 'OnRemove' has a non-standard type. If thi
s event is declared in another CLI language, you may need to access this event u
sing the explicit add_OnRemove and remove_OnRemove methods for the event. If thi
s event is declared

[2016-01-21 12:06] arcturius commented on #234
One more thing. Looked into docs. I could't find a way to exclude particular projects/files from this fragile build step. How can I do this?

[2016-01-21 21:49] Vidarls commented on #234
known issue with fsharp.formatting. (or actually the Fcs powering fsharp.formatting) Can't remember issue numbers, and too lazy to look up on the phone.
To exclude anything from generating docs, you need to modify the docs/tools/generate.fsx. There is a function for getting convention based files to include. Or alternatively, disable the conventions and use the manual option at the top of the file

[2016-01-24 14:44] rmunn opened #235 "We should not run mozroots without asking"
In `build.sh` as it currently stands, we run `mozroots --import --sync --quiet` without asking the user for permission. This imports over 100 root SSL certificates (a total of 140 at the moment). Saying that this has security implications would be putting it mildly. Not every user will want to trust the same root certificates as Mozilla. Many will, which is why Mono has made it easy to run a singl

[2016-01-24 14:46] rmunn commented on #235
Note that as mentioned in #213, Mono 3.12 and later will come with Mozilla's root certificates pre-installed, so this will only be an issue on older Linux releases that came with Mono versions prior to 3.12. Still, that's no reason not to do the right thing for those releases. And the right thing is to let the user know about security changes to their system, and not to make such changes without t

[2016-01-24 14:53] forki commented on #235
Yes we should ask.

[2016-01-24 15:57] rmunn commented on #235
Here's a PR with my proposed change. I'm of two minds about whether the `exit 1` is a good idea or not. On the one hand, exiting immediately after informing the user of a suggested step seems like a good idea, and if we continue the script, the suggestion might be buried under further error messages. On the other hand, if they have deliberately chosen not to trust any Mozilla certificates and have

[2016-01-24 16:57] jimmydburr commented on #235
I haven't looked at the PR but it would be great if there could be a y/n install prompt to the user allowing the script to continue and do the install if the user approved.

[2016-01-30 13:27] krisis commented on #192
@forki, FWIW it helped me.

[2016-02-05 16:33] johnazariah opened #237 "GenerateReferenceDocs target failing"
My build has been failing for the last 9 days on the GenerateReferenceDocs target. All preceding targets are working correctly.

[projectscaffold-generatereferencedocs-crash.txt](https://github.com/fsprojects/ProjectScaffold/files/119440/projectscaffold-generatereferencedocs-crash.txt)

I have run paket update, and these are the versions I have:

Paket version 2.49.5.0
Resolving packages for group

[2016-02-05 16:34] forki commented on #237
// @matthid

[2016-02-06 10:01] forki commented on #237
can you try to run paket update? Does it already help?

How can we reproduce this?

[2016-02-06 10:04] #235 closed

[2016-02-06 10:07] matthid commented on #237
can't really say anything without a repro or more info. I would assume (or as @tpetricek calls it: psychic debugging) you are building for net40 and added the Bcl Library, but are not copying it to the output directory.

If you can't provide a repro you can at least enable logging by setting the environment variable `FSHARP_FORMATTING_LOG` to `ALL` and then attaching the `FSharp.Formatting.svclog`

[2016-02-06 16:53] johnazariah commented on #237
@matthid :+1:

I'm totally new to Project Scaffold and I've blindly followed instructions on the site page to set up a project. I'm going to try and do this again from scratch being more careful in following instructions.

I'll let you know if the problem persists.

For your reference, I was building against 4.5.1 and hadn't written any reference documentation. The build *was* working on the 20th,

[2016-02-06 17:59] johnazariah commented on #237
OK. I was able to repro:

* I re-cloned ProjectScaffold from scratch
* Ran build to set things up. Succeeded.
* Ran build again. All targets, including GenerateReferenceDocs passed.
* I put code in my src and test projects, targeted to 4.5, and ran build.
* Code compiles cleanly
* All tests run and pass
* All targets before GenerateReferenceDocs pass
* GenerateReferenceDocs failed immediately! Att

[2016-02-06 18:26] matthid commented on #237
This is most likely a problem with the dependencies or the project setup. When targeting net45 `System.Threading.Tasks` from Microsoft.Bcl is not required and should not be referenced.

[2016-02-26 22:22] jinlmsft opened #238 "Paket failing on Mono build."
On Linux/Mono, build the current main branch of ProjectScaffold fails with: (Network is verified to be OK).

No version specified. Downloading latest stable.
Paket.exe 2.50.11.0 is up to date.
Paket version 2.50.11.0
Could not fix timestamps in /home/jinl/code/tfs.jinl/ProjectScaffold/packages/build/SourceLink.Fake/SourceLink.Fake.1.1.0.nupkg. Error: The requested feature is not implemented.
Somet

[2016-02-27 10:12] johnazariah commented on #237
The problem resolved itself after I fixed up a bunch of references in my project.

[2016-02-27 10:12] #237 closed

[2016-03-01 03:39] jinlmsft opened #239 "Multiple search of Octokit directory leads to a warning"
Current implementation of Fake\modules\Octokit gives the following search directories:

#I @"../../../../../packages/Octokit/lib/net45"
#I @"../../packages/Octokit/lib/net45"
#I @"../../../../../../packages/build/Octokit/lib/net45"

Only the first directory is valid under ProjectScaffold. The other two gives out a warning that the corresponding directory doesn't exist. The warning may confuse the

[2016-03-01 08:18] forki commented on #239
Yeah this is unfortunate, but it's currently needed.
On Mar 1, 2016 04:39, "jinlmsft" <notifications@github.com> wrote:

[2016-03-01 13:13] #239 closed

[2016-03-01 13:13] forki commented on #239
found a workaround

[2016-03-08 13:36] bcachet opened #240 "Check that F# Script files used as tutorials contain valid code"
Hello,

First of all a HUGE thanks for this project.
I'm starting to learn F# and having the possibility to scaffold a new project from this "template" is really nice.

What is the best way to check that the code contained in the F# Script files used as tutorial is valid ?
If I modify the API of my library and do not update the tutorials accordingly, I want my build process to fail.
Maybe you can

[2016-03-21 20:56] simendsjo opened #241 "NUnit-console crashes"
I tried ProjectScaffold on Windows running in VirtualBox, but it crashes when building.
To reproduce:
1. Clone
2. Run ./build.cmd

I tried adding [AllowPartiallyTrustedAttribute](https://msdn.microsoft.com/en-us/library/system.security.allowpartiallytrustedcallersattribute%28v=vs.110%29.aspx) to both the Test assembly and the main assembly, but the output is the same.

[code]

[2016-03-21 23:35] Stift commented on #241
I just tried it out and it seems to work.

But I have an assumption - your drive E: is an attached network drive (or a mapped drive in virtual box) and this may not trusted as execution environment. Check this: http://www.nigelthorne.com/2008/08/running-net-executable-from-network.html

Maybe as a first test just copy the stuff to a local drive and test it there.

[2016-03-22 07:38] simendsjo commented on #241
Good guess, and it's quite correct :) I'll test this later as I don't have access to that computer now.

[2016-03-31 20:52] ikarni opened #242 "MissingMethodException in GenerateHelp with new version of FSharp.Compiler.Service"
I am getting MissingMethodException in GenerateHelp target using build.cmd on clean project. I was able to track it down to FSharp.Compiler.Service library. It looks like version 2.0.0.7 broke something. If I downgrade by adding line
`nuget FSharp.Compiler.Service <= 2.0.0.6`
to Build group in paket.dependencies, it works.

[2016-03-31 20:55] forki commented on #242
Yes. That's unfortunate.

/cc @tpetricek, @dsyme
On Mar 31, 2016 10:52 PM, "ikarni" <notifications@github.com> wrote:

[2016-04-05 04:46] mooreniemi opened #243 "build failed at Building documentation (Default), this could take some time, please wait..."
### Description

Using `./build.sh` has a build failure status.

### Repro steps

Please provide the steps required to reproduce the problem

1. run `./build.sh`

### Expected behavior

Generated project folder etc.

### Actual behavior

Output was:

Input: /Users/Alex/Documents/Code/fsharp/ProjectScaffold/docs/tools/generate.fsx

Exception: Yaaf.FSharp.Scripting.FsiEvaluationException: Error whil

[2016-04-05 07:39] forki commented on #243
I think it's related to the new FCS release and https://github.com/tpetricek/FSharp.Formatting/pull/395 would fix it. /cc @dsyme @tpetricek

[2016-04-05 10:19] forki commented on #242
fixed

[2016-04-05 10:19] #242 closed

[2016-04-05 10:19] forki commented on #243
fixed

[2016-04-05 10:19] #243 closed

[2016-04-05 16:47] mooreniemi commented on #243
Had to delete and reclone ProjectScaffold (was the dependency cached? was there some way to force it to reload?) but now works. Thanks all! :)

[2016-04-05 17:01] forki commented on #243
Oh sorry I wasn't explicit enough. There is a fixed FSharp.Formatting
package. So "paket update" would have solved it.
On Apr 5, 2016 6:47 PM, "Alex Moore-Niemi" <notifications@github.com> wrote:

[2016-04-05 17:04] mooreniemi commented on #243
@forki No problem! I don't know the ropes yet so I didn't think to try that. Thanks again.

[2016-04-09 11:55] juergenhoetzel opened #245 "Get project defaults from git config"
It would be nice if ```promptFor``` would provide some defaults based the users git configuration:

→ git config --get user.name
Juergen Hoetzel
→ git config --get user.email
juergen@archlinux.org

so you don't have to enter them every time you create a new project.

[2016-04-09 11:59] forki commented on #245
Cool. Are you going to send a PR?
On Apr 9, 2016 13:55, "Jürgen Hötzel" <notifications@github.com> wrote:

[2016-04-10 11:19] juergenhoetzel commented on #245
Easy to implement using  ```Fake.Git.CommandHelper```. But I ran into an encoding issue in ```FAKE``` when using ```runGitCommand```:

[code]
https://github.com/fsharp/FAKE/pull/1212 fixes the issue. Would you mind releasing a new FAKE package, so I can implement this?

[2016-04-13 13:29] KevM opened #246 "Scaffolded project names with a dash cannot be built"
### Description

Created a project name with a dash in it (I work with a lot of python and JavaScript devs) `tikaondotnet-textextractor`. Scaffolding went fine but the build fails.
### Actual behavior

Build failed.

[code]
### Known workarounds

Creating project without a dash works fine.

[2016-04-19 18:52] stevenranney commented on #165
@yukitos So, how *is* this enabled?

Thanks for opening the issue and for pinging @tpetricek  on Twitter.

[2016-04-19 20:45] tpetricek commented on #165
You need to create `FsiEvaluator`. Check out the demo here: https://github.com/TahaHachana/XPlot/blob/master/docs/tools/generate.fsx#L78.

This also creates a couple of transformations for rendering of XPlot charts in the docs:
https://github.com/TahaHachana/XPlot/blob/master/docs/tools/formatters.fsx

[2016-04-24 11:44] simendsjo opened #249 "Some issues related to paket and FSharp.Core"
I'm not sure why this is not done, but it's things that causes me problems.
- [Referencing FSharp.Core](https://github.com/fsprojects/ProjectScaffold/blob/master/src/FSharp.ProjectTemplate/FSharp.ProjectTemplate.fsproj#L39) directly in the fsproj files means we'll never use a newer FSharp.Core if available.
- `redirects: on` is needed in `paket.dependencies` in order to generate redirects for FSha

[2016-04-24 12:03] forki commented on #249
Actually it should do redirects:force on the fsharp.core package. Yes please send Pull request

[2016-05-02 05:23] carsten-j opened #252 "Build.sh fails on OSX/Mono when running first time"
### Description

When I download the scaffolding project and run build.sh I get a number of errors
### Repro steps

Please provide the steps required to reproduce the problem

Please see the attached output for what I did

./build.sh
No version specified. Downloading latest stable.
Starting download from https://github.com/fsprojects/Paket/releases/download/2.63.2/paket.exe
Done.
Paket version 2.6

[2016-05-02 06:20] colinbull commented on #252
Yeah, I have seen this issue too I was investigating it a week or so ago but haven't had any time since.. It is however to do with fsharp.formatting / razor.engine I think this issue should probably be raised against fsharp.formatting as it isn't directly to do with project scaffold

[2016-05-05 10:31] rmunn opened #253 "When F# is not installed, error message is confusing to beginners"
### Description

If someone new to F# tries to run the `build.sh` script on a Linux system where F# isn't installed yet, he may be confused by the resulting error messages.
### Repro steps
1. In a fresh Linux install, install `git` and `mono-complete`.
2. Do **not** install `fsharp`.
3. Clone the ProjectScaffold repo.
4. Run `build.sh`.
### Expected behavior

An error message that would be easily

[2016-05-11 15:14] halcwb opened #254 "Octokit.NotFoundException"
### Description

Using the scaffold setup I want run the release target. Everything runs until the very last step, I then get a 'very helpful' `Octokit.NotFoundException`.

### Repro steps

Please provide the steps required to reproduce the problem

1. Clone my repository: https://github.com/halcwb/GenUnits.git

2. Update the release notes with a dummy release and run the release target.

### Expe

[2016-05-11 17:02] halcwb commented on #254
I think I provided the wrong credentials. But the error message is totally unhelpful in this.

[2016-05-13 10:24] halcwb commented on #254
Well I am at a loss, I checked my github credentials and used the setup as recommended in the documentation with a `release.cmd` file specifying the nuget key and github credentials. But still getting the above error.

[2016-05-13 13:08] halcwb commented on #254
Argh, I appended the gitname with ".git" but should have used the name without the extension. My mistake.

[2016-05-13 13:08] #254 closed

[2016-05-18 10:37] damonmcminn commented on #252
👍

[2016-05-25 07:01] knocte commented on #213
AFAIU, this change is in Mono, but it's up to distros to pick it up in their Mono packaging. Debian/Ubuntu did, and e.g. with Ubuntu16.04 you can use MonoDevelop+Nuget out of the box.

[2016-05-25 07:01] knocte commented on #235
AFAIU, this change is in Mono, but it's up to distros to pick it up in their Mono packaging. Debian/Ubuntu did, and e.g. with Ubuntu16.04 you can use MonoDevelop+Nuget out of the box.

[2016-05-25 08:44] robwestwood commented on #213
Thanks, @knocte.

Looking at patch #236 this covers all bases as far as I can understand, so I'm marking this issue as closed.

[2016-05-25 08:44] #213 closed

[2016-05-30 22:20] auduchinok opened #256 "Check whether net35 is installed"
`build.cmd` fails on tests when trying to initialize an empty project if `.Net 3.5` is not installed.
Possible workaround is to try launching anything that needs the framework before doing anything else which will lead to Windows asking to install the framework.

[code]

Reproduced on clean Win10 install with VS 2015 Update 2.
Work fine after `.Net 3.5` install.

[2016-05-30 22:23] auduchinok commented on #256
Seems like it may be connected to #241.

[2016-06-06 23:06] wewebber commented on #214
Bump

[2016-06-07 00:12] wewebber commented on #214
Answering my own bump.  I used Forge:

    http://fsprojects.github.io/Forge/index.html

to create the project folder itself, but still had to edit the .sln file to add the project to the solution (which is slightly non-obvious how to do).

[2016-06-07 05:21] elliottt commented on #214
I was hoping that there would be an easier way to manipulate the sln file programmatically, but maybe using an IDE is the best option right now.

[2016-06-10 18:28] Chicker opened #258 "Why used Rebuild task instead Build in build.template file?"
Hi, all!

Maybe answer will be obvious, but I can't understand why in the target `Build` in the file `build.template`, used task `Rebuild` instead `Build` for build solution (project).

As far as I know, only `Build` task allows incremental build that gives us the big boost in the build speed.

[2016-06-10 18:42] adamchester commented on #258
Good question. I don't have the answer, but here's my thoughts.

Maybe rebuild is considered more "safe", and I was OK with that before I started using ionide plugins to build from my editor.

These days, I think the default should be build (incremental) unless you are doing a release (where perhaps rebuild is more appropriate).

[2016-06-11 06:04] Chicker commented on #258
About the task `Rebuild` in MSDN documentation says: initially, will delete all temporary files and artifacts, and then will build the project, include recompilation of all the source files.

In practice, in most cases, it is recommended to run `Build` project as it runs much faster. And just in case "strange" errors when building, it is recommended to try `Rebuild`, because temporary files are cl

[2016-06-12 19:06] jack-pappas opened #259 "Add codecov.io support"
### Description

Implement support for codecov.io (free service for collecting test coverage results).
### Related information

codecov.io is a free service that integrates with Github, and it provides a way to collect test coverage results and publish it to their service; this gives you a 'badge' you can add to the repository's README to make it easy to see how well a library's code is covered by

[2016-06-15 17:23] elliottt commented on #214
I'll take a look at forge, thanks for the pointer.

[2016-06-15 17:23] #214 closed

[2016-06-15 20:59] Nemesis9765 commented on #241
Ran into the same issue, reason it's happening is because nunit doesn't like being loaded via a network share for security reasons.  You can reference this url,

http://stackoverflow.com/questions/4163615/get-net-to-consider-a-specific-network-share-to-be-fully-trusted

[2016-06-19 00:02] matthid commented on #252
This is a bug in mono-4.4. Just add

[code]

to the `.travis.yml` file and life is good.

What happens is that they get some encoding wrong and then cannot detect the warning:
[code]

Took me a while to figure this out but `CodeDom` seems to be completely broken with mono-4.4. I think they switched to Roslyn and got some things wrong in the process.

[2016-06-19 10:18] matthid commented on #252
Reported the bug to mono: https://bugzilla.xamarin.com/show_bug.cgi?id=41979

[2016-07-17 18:24] daz10000 commented on #253
Second this one - we lost many hours troubleshooting our CI build over this error message.  If you're not super into MSBuild the message is quite undebuggable

[2016-07-28 06:41] MatthiasWeiser opened #262 "git.exe"
### Description

Scaffold fails if git.exe is not in %PATH%

### Repro steps

Use a machine without git.exe in %PATH%. I use the VS Plugin plus github for Windows, but both seem no to touch %PATH.

git.exe remote -v
git.exe init
FsiEvaluationException:

'Error: System.Exception: Start of process git.exe failed. Das System kann die angegebene Datei nicht finden
           bei Fake.ProcessHelper.Exe

[2016-07-28 07:40] forki commented on #262
please install git and put it in path.

[2016-07-28 07:48] MatthiasWeiser commented on #262
Would be nice if this is at least mentioned as a requirement for using ProjectScaffold.

[2016-07-28 07:52] cloudRoutine commented on #262
It could also have a better error message

[2016-07-28 07:55] forki commented on #262
changed title and made it up-for-grabs

[2016-08-02 00:16] giacomociti commented on #224
I experienced something similar (although with an older version of ProjectScaffold).
In `build.fsx` the target `ReleaseDocs` writes to temp/gh-pages.
I think the issue in my case was that the paket command was picking up the gh-pages repo and looking for the dll in the wrong path.
I solved it putting a command to clean temp/gh-pages at the end of `ReleaseDocs`:

    CleanDir tempDocsDir

I don't k

[2016-08-08 18:58] klettier commented on #246
Hi,

Dash is not allowed in FSharp namespace so this is why you get an error.
FSharp.ProjectTemplate is replaced by your project name

[2016-08-10 19:54] klettier commented on #201
- Option 1

Create an **orphan** branch with [git](http://stackoverflow.com/a/4288660)
[code]
- Option 2

Create  gh-pages branch from GitHub
Settings -> options -> GitHub Pages -> Lauch automatic page generator

[2016-08-11 07:07] gsvgit commented on #201
@klettier Thanks, but seems it is for manual creation (especially second option). What about automation?

[2016-08-11 07:14] klettier commented on #201
It could be easy to apply first option in build script if the branch doesn't exist.
I'm not a fan of implicit stuff like creation of the branch without asking the end user, what are your thoughts?

klettier

[2016-08-11 08:18] gsvgit commented on #201
I think you are right that implicit branch creation is not good idea but scaffold initial script is interactive. So, user can choose necessary options (like repo initialisation in current version).

[2016-08-11 09:18] klettier commented on #201
For me when we init the repo (wantGit = true)  we should init this branch too (implicit way).
If we are working on a legacy repo we can propose
- Branch creation on init (Check state first)
- Maybe a specific target ?

[2016-08-12 10:12] gsvgit commented on #201
Sounds great.
Seems that on a legacy repo we should use explicit way. Thus separated step "Init gh-pages branch? [Y|n]" should be in scaffold initialization script (with state checking of course).

[2016-08-30 13:09] MangelMaxime opened #273 "Documentation don't show inheritance"
Hello, I am using F# with a lot of type inheritance (classes). But the reference documentation don't show the inheritance.

Example:

[code]

Button reference page:
![doc](https://cloud.githubusercontent.com/assets/4760796/18090111/833aa5e6-6ec3-11e6-8750-ec8335a464bb.PNG)

This could be nice to have inheritance shown.

[2016-08-30 13:13] forki commented on #273
this is a FSharp.Formatting issue, right? please report there

[2016-08-30 13:26] MangelMaxime commented on #273
Sorry @forki didn't know where to report it.

Here is the reference: https://github.com/tpetricek/FSharp.Formatting/issues/424

[2016-08-30 13:36] #273 closed

[2016-09-02 09:39] vanthome commented on #189
I'm having the same issue under Linux:

`The required attribute "Project" in Import is empty`

[2016-09-03 00:06] chrismacklin opened #274 "provide a scorched-earth clean script"
First off, thanks to all the contributors for this project!  It has been immensely helpful getting our F# programs working with the rest of our build/test/release automation.

We have quite a few F# projects that we are migrating into project scaffold, and this process has been pretty tricky and error-prone.  I've run into multiple strange edge cases where cached build products or pieces of the bu

[2016-09-05 08:53] rmunn commented on #178
I can reproduce this error by also leaving the tags empty. A bit of experimentation showed the following:

* If Paket sees a "tags" line followed by an "empty" line in `paket.template` (that is, four spaces with no text after them, which is what gets produced by the `init.fsx` script when you leave the tags empty), this error occurs.
* If the "tags" line, and the spaces-only line that follows it,

[2016-09-18 08:29] nterry commented on #238
I got this error too! It seems to fail with versions of mono somewhere between 3.8 and 3.12 (3.12 works)

[2016-09-18 08:29] nterry commented on #238
Any ideas?

[2016-09-20 22:46] sideeffffect opened #275 "Add AppVeyor as PR guard"

[2016-09-20 22:47] sideeffffect commented on #275
the AppVeyor now seems to be failing because of SourceLink -- maybe something with `\n` <-> `\r\n` conversion?

[2016-10-31 10:23] sideeffffect commented on #193
this is fixed

[2016-10-31 10:42] #193 closed

[2016-11-05 17:18] jackfoxy commented on #201
Github pages now supports the master branch docs folder as source https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/
This would be a somewhat breaking change, but I'm not sure it matters. (Who ever merges ProjectScaffold changes once they have cloned it?)

Much simpler for people to implement and understand.

[2016-11-05 17:19] forki commented on #201
Cool we could use that for new projects. Usually people don't merge projectscaffold back to existing projects

[2016-11-05 17:24] jackfoxy opened #276 "Install should erase git history"
### Description

Install (initial build) should erase git history

### Repro steps

Last I checked, cloning and doing initial build for a new project retains the entire ProjectScaffold history.

### Expected behavior

Leaving this open for discussion. Some alternatives to handle in initial install build:

1) squash this history
2) delete the history entirely (delete .git folder, git init)

### Act

[2016-11-05 18:38] jackfoxy commented on #276
Personally, I favor the delete history route, but if others see value in squashing, that works too.

[2016-11-05 18:55] pblasucci commented on #276
There's supposed to be a step in the init script that nukes any git history and, optionally, sets up a new origin. Perhaps it's not working correctly? Of course, if there's a different/better way to handle things, I'm all for it.

Paulmichael Blasucci

		_____________________________
From: Jack Fox <notifications@github.com>
Sent: Saturday, November 5, 2016 14:38
Subject: Re: [fsprojects/ProjectSc

[2016-11-13 17:38] jackfoxy opened #277 "Init build fails on SourceLink target build when skipping git origin setting"
### Description

Initial build failing in the SourcLink target. This happens when the user decides not to immediately wire-up the project to an upstream git repo.

### Repro steps

Please provide the steps required to reproduce the problem

1. Initialize git repo [Yn]
(hit enter or Y)

2. Origin (url of git remote; blank to skip)
(skip this)

### Expected behavior

Target step succeeds, or other b

[2016-11-13 17:58] jackfoxy commented on #276
My workflow is usually NOT to immediately set an upstream origin to GitHub, and I suspect this is a common workflow.

The code in init.fsx looks like it should properly handle this workflow, but apparently it does not. I have not traced the problem, and it will be some time before I can fix this, so for now I am just fully documenting what I found:

1) There is a documentation lacuna in the "Getti

[2016-11-14 02:48] pblasucci commented on #276
I agree _almost_ entirely with you @jackfoxy... this is definitely a bug in the `init.fsx` _and_ the documentation needs updating. However, I think the `Initialize git repo [Yn]?` is still needed. The idea being:

- if I select `Yes`, `git init` is called
- if I select `No`, I have _no_ git set up

In either case, the previous git history _should_ definitely be nuked. I'm not saying we absolutely

[2016-12-16 15:25] cargoge opened #281 "Obscure documentation"
### Description
The documentation state that the user need to produce update one or two project file without sayng what should be modified and why.

src : NOTE: When you add projects to this directory, you will need to edit build.fsx and/or generate.fsx. You will also need to update your .sln file(s).

reach the page that documents the (structure of a scaffolded project)[http://fsprojects.github.i

[2016-12-21 18:55] katepaulk commented on #281
Seconded: I did what a normal visual studio user would do to add a project to the scaffold: browsed to the existing project via VS and connected them. Nothing I did could get the documentation for the added projects generating.

What eventually worked was this:

- Copy each existing project to the \src\ directory because it's easier than trying to retrofit the scaffold to an existing project.
- Us

[2017-01-20 18:42] jackfoxy commented on #201
I have a PR related to implement the new model of publising docs. https://github.com/fsprojects/ProjectScaffold/pull/278 If there is interest in carrying this forward, I can resolve the merge conflict. This is implemented as a hard cut-over to the simpler model of publishing docs on Github. In other words the gh-pages option would not be available.

[2017-01-23 20:40] nojaf opened #283 "Couldn't build on Windows 10 using build.cmd"
### Description

I was unable to build the entire project by running the build.cmd file.
MSBuild was unable to import the FSharpTargetsPath.

### Repro steps

Please provide the steps required to reproduce the problem

1. Create new project

2. Run build.cmd

### Expected behavior

Newly create project builds.

### Actual behavior

MSBuild error that certain targets cannot be found.

### Known wor

[2017-01-24 21:34] nojaf commented on #283
I tried the same thing using a Visual Studio Command Prompt and it worked fine. So I'm guessing I'm missing some stuff on my PATH variable. Any ideas?

[2017-01-24 21:43] jimmydburr commented on #283
@nojaf  I think you're on the right path, so to speak.  There is a file called vcvarsall.bat located in C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC on my machine. Running this in a regular CMD window will setup all the vars you need to do a build from the command line.

[2017-01-25 00:22] WilliamBerryiii opened #284 "Add Default Code of Conduct"
I think we should add a default Code of Conduct to the scaffold to reinforce our dedication to positive and supportive community development. Perhaps this one (http://contributor-covenant.org/), which has been widely adopted?

[2017-01-25 07:36] forki commented on #284
I think this is something the projects should decide for themselves.

[2017-01-25 07:36] #284 closed

[2017-01-25 07:44] WilliamBerryiii commented on #284
Shouldn't that approach then equally apply to the default license file that is included?

[2017-01-25 08:12] forki commented on #284
In some sense yes.

Am 25.01.2017 08:44 schrieb "Bill Berry" <notifications@github.com>:

[2017-01-25 11:45] spencerwi commented on #284
Yeah, that's a good case for removing the default license file. If this were a Forge-like tool rather than a "clone-and-get-going" repo (with no automation of its own), I'd say "present a license-picker", but since this project could be a base for any number or variety of other projects, it's probably better to be unopinionated about what license is the "fallback".

[2017-01-25 12:43] forki commented on #284
yes a license picker would be nice

[2017-01-29 13:36] cdrnet commented on #283
Depending on `vcvarsall.bat` being called would be a major regression that should be fixed though.

[2017-01-30 18:47] dsyme commented on #283
@cdrnet @jimmydburr @nojaf Your input on the linked bug would be appreciated (workarounds, analysis etc.)

[2017-01-30 19:16] nojaf commented on #283
Well my concrete issue was the fact that the msbuild target was not found. Maybe some new logic should be added that looks for possible locations of the target. I'm really a novice in all this so perhaps the build should fail early when the target cannot be resolved.

[2017-04-18 21:39] bslatner opened #287 "Solution file contains generate.fsx which does not exist"
### Description

The solution file contains a node ./docs/tools/generate.fsx. This file does not actually exist in the repository.

### Repro steps

1. Download the template

2. Open the solution

3. Navigate to /docs/tools and double click generate.fsx

### Expected behavior

File should exist. Or should be removed from the solution.

### Actual behavior

File does not exist.

[2017-04-18 21:41] bslatner commented on #287
Oops, my stupidity. This is generated by init.fsx.

...goes off to self-flagellate.

[2017-04-18 21:41] #287 closed

[2017-05-02 13:04] ed-ilyin commented on #100
At least example of "release.sh" would be very helpfull

[2017-06-07 20:07] KevinRansom opened #288 "fsharp core reference is a little broad"
/cc @forki @dsyme @cartermp
Guys,

I noticed this .. and it probably won't work as well as expected now that we have removed a bunch of profiles from FSharp.Core.nuget version 4.2.*

When we discussed the change we offered the following guidance:
&lt;snip&gt;
•	Existing packages targeting pcls, net20, or net40 use FSharp.Core.nuget versions 4.1.xxx
•	Existing desktop libraries or projects ... eith

[2017-06-08 00:02] dsyme commented on #13
@pblasucci Given the high number of bugs in this repo I'm going to start a cleanout to get it down, and perhaps to simplify the scaffold as well.  I'll start by closing out long-ago suggestions and enhancements like this one, thanks

[2017-06-08 00:02] #13 closed

[2017-06-08 00:37] dsyme commented on #238
Please try a later Mono, at least 4.2.0

[2017-06-08 00:37] #238 closed

[2017-06-08 00:39] dsyme commented on #252
Cl;osing old fixed bug

[2017-06-08 00:39] #252 closed

[2017-06-08 00:49] #253 closed

[2017-06-08 00:51] dsyme commented on #288
Fixed by https://github.com/fsprojects/ProjectScaffold/pull/290, default package for libraries created using the scaffold is now 4.0.0.1

[2017-06-08 00:55] dsyme commented on #283
I believe this has been fixed by using the latest FAKE. It compiles OK for me on Windows

[2017-06-08 00:55] #283 closed

[2017-06-08 01:01] pblasucci commented on #13
@dsyme Thanks! I think this is a great time for a little "house keeping" 👍

[2017-06-08 01:02] dsyme commented on #241
THis is an external issue, unrelated to the scaffold

[2017-06-08 01:02] #241 closed

[2017-06-08 01:03] dsyme commented on #259
Closing old suggestions (please send a PR if you want it)

[2017-06-08 01:03] #259 closed

[2017-06-08 01:04] dsyme commented on #256
It's working for me without .NET 3.5 installed.  Adding AutoGenerateBindingRedirects may have done the trick

[2017-06-08 01:04] #256 closed

[2017-06-08 01:05] dsyme commented on #249
This has been done

[2017-06-08 01:05] #249 closed

[2017-06-08 01:05] dsyme commented on #184
@nathanaeljones Please send a PR for this?

[2017-06-08 01:06] #170 closed

[2017-06-08 01:06] dsyme commented on #170
This was fixed way back

[2017-06-08 01:06] #127 closed

[2017-06-08 01:07] dsyme commented on #149
@bleis-tift Closing old suggestion issue - please send a PR for this if you'd like it

[2017-06-08 01:07] #149 closed

[2017-06-08 01:07] dsyme commented on #112
Closing old issue - please start a new scaffolding project if you'd like this

[2017-06-08 01:07] #112 closed

[2017-06-08 01:08] dsyme commented on #27
Closing ancient issue

[2017-06-08 01:08] #27 closed

[2017-06-08 01:08] dsyme commented on #30
Closing ancient issue

[2017-06-08 01:08] #30 closed

[2017-06-08 01:10] #42 closed

[2017-06-08 01:11] #53 closed

[2017-06-08 01:14] dsyme commented on #234
This is a question about FAKE

[2017-06-08 01:14] #234 closed

[2017-06-08 01:15] dsyme commented on #275
CI is back up ok

[2017-06-08 01:15] #275 closed

[2017-06-08 01:16] #288 closed

[2017-06-08 01:16] #208 closed

[2017-06-08 01:17] dsyme commented on #184
Closing - a PR would be most welcome but it's not worth tracking every suggestion about improving the scaffold - just send the PR if you want it :)

[2017-06-08 01:17] #184 closed

[2017-06-08 01:18] dsyme commented on #172
This error message has been improved in recent release of F#, it's an external issue

[2017-06-08 01:18] #172 closed

[2017-06-08 01:19] dsyme commented on #178
@rmunn

Can you send a PR for that? thanks

[2017-06-08 01:20] dsyme commented on #110
Very old issue, please reopen if it is still a problem

[2017-06-08 01:20] #110 closed

[2017-06-08 01:28] dsyme opened #292 "AppVeyor CI is failing due to some obscure problem with line endings"
Yet again the dreaded SourceLink line ending obscure confusion strikes again

The AppVeyor CI is failing becuase line endings don't match for the generated Library.fs

[2017-06-08 01:28] #246 closed

[2017-06-08 01:30] dsyme commented on #160
Closing this discussion - the original scenario of "moving" is not really supported by the scaffold

[2017-06-08 01:30] #160 closed

[2017-06-08 01:30] dsyme commented on #163
This is now being done

[2017-06-08 01:30] #163 closed

[2017-06-08 01:31] dsyme commented on #274
@chrismacklin Just use ``git clean -xfd``??

[2017-06-08 01:31] #274 closed

[2017-06-08 01:31] dsyme commented on #232
This is a FAKE or FSharp.Data issue, not a scaffolding issue

[2017-06-08 01:31] #232 closed

[2017-06-08 01:33] chrismacklin commented on #274
Indeed, I discovered this solution some time ago but had forgotten about opening this issue.  Thanks!

[2017-06-08 08:46] ctaggart commented on #292
I'd recommend removing SourceLink v1 from Project Scaffold. When project scaffold support dotnet core projects, I'd recommend the project files add SourceLink v2 by [adding SourceLink.Create.CommandLine](https://github.com/ctaggart/SourceLink#quick-start) to the proj files.

[2017-06-08 09:34] sideeffffect commented on #292
are you referring to SourceLink.Fake 1.1.0?
if that's the case, are you planning to create version 2.x?
thanks

[2017-06-08 09:48] oivvio opened #294 "Overview documentation for people lacking a .NET background"
So this is more of plead for more docs than an actual issue.

I'm coming to F# from a lifetime of programming but virtually no .NET or Windows experience.

In ProjectScaffold I'd really appreciate an explanation of all the infrastructure basics around a .NET code project.

**Here's some stuff I think should be included**

What's a project in .NET parlance?

What's a solution in .NET parlance?

Aft

[2017-06-08 10:06] ctaggart commented on #292
@sideeffffect I am referring to SourceLink.Fake. It isn't needed for version 2. It is a much simpler process and a different/new feature. You simply add one ProjectReference and you are done. With 15.3 of Visual Studio, it will work with Windows PDB files too and the debugger will match different line endings.

[2017-06-08 11:52] firehirsch commented on #294
[http://bfy.tw/CFfb](http://bfy.tw/CFfb)
This will help you!

Serious, the question you asked could not be answered here. Thats basic knowledge about .net.

[2017-06-08 11:56] dsyme commented on #294
@firehirsch I do think the documentation for ProjectScaffold could include some links to the very top material for these topics.

[2017-06-08 17:42] KevinRansom commented on #288
@dsyme

Are you not using FSharp.Core 4.1 in scaffold?

 <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.4.0.0" />

[2017-06-08 17:56] dsyme commented on #288
For a library it is better that we just have people default to 4.0.0.1 (it makes the library more broadly usable).  They can bump the version in paket.dependencies if they want

[2017-06-08 18:00] KevinRansom commented on #288
@dsyme
What makes it more broadly usable?   4.4.1.0 is usable in all of the same places, and has a ton of new Apis?  and is 4.0.0.1 even signed.  Because I don't believe we ever shipped a signed 4.0.0.1 dll.

Thanks

[2017-06-08 18:15] forki commented on #288
"More broadly" means it would be compatible in more scenarios when a
package resolve needs to downgrade Version since some other package is
bound to older fsharp.core package. So it is not about the package itself
but about the open version range.

Am 08.06.2017 20:00 schrieb "Kevin Ransom (msft)" <notifications@github.com

[2017-06-09 06:07] firehirsch commented on #294
It's not my project, but I don't see any reason for that.
If you argue like that every project here on GitHub should include such links.

I think we can expect that people who want to code have learned about the basic concepts and features of the languages and frameworks they want to use.
And I also think that ProjectScaffold should not be used by a beginner. First learn how to create all that bas

[2017-06-09 12:07] susloparovdenis opened #295 "first Build.cmd failed on windows"
I have windows10 and vs2017 with all the updates.
**`CheckFSharpInstallation.fsproj(19,5): error : File Microsoft.FSharp.Targets not found. Is F# correctly installed on this system?`**

I have **Microsoft.FSharp.Targets** in following locations. I am confused
![image](https://user-images.githubusercontent.com/5947908/26974609-658ada7e-4d1c-11e7-9542-67785e2d2bac.png)

full output:
[code]

[2017-06-09 13:20] pblasucci commented on #294
@firehirsch > And I also think that ProjectScaffold should not be used by a beginner.

I can't tell you how much that makes me chuckle. ProjectScaffold started life as a learning tool... for _beginners_.

;-D

Admittedly, the community has moved it in a different direction. But that's part of what's great about FOSS, right? Ultimately, I agree with @dsyme. One or two very high-level links out to i

[2017-06-09 13:21] pblasucci commented on #295
Silly question: does the project build correctly if you just open it in Visual Studio?

[2017-06-09 13:36] pblasucci commented on #295
OK. I can confirm. This seems to be happen for me (and a few others based on some Slack comments). It looks like the code for detecting the presence of F# is reporting false negatives in some case.

[2017-06-09 13:37] dsyme commented on #295
@pblasucci I'll fix this now (was about to make the changes to remove SourceLink)

[2017-06-09 13:50] dsyme commented on #295
@susloparovdenis @pblasucci I can't repro this.  Which prompt are you running from - a VS2017 developer prompt or...

Could you try again now https://github.com/fsprojects/ProjectScaffold/pull/296 has been merged?  thanks

[2017-06-09 14:22] pblasucci commented on #295
@dsyme just tried again... same results. I'm using a bog standard instance of `cmd.exe`.

[2017-06-09 14:36] pblasucci commented on #295
OK. I found a clue. It's looking in:
`C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Microsoft\VisualStudio\v\FSharp\Microsoft.FSharp.Targets`

Notice the `\v\` ? That should probably be `\v15.0\` (or at least _some_ number after the `v`). Not sure how to fix this (yet).

[2017-06-09 14:41] dsyme commented on #295
Yes, VisualStudioVersion is not set, I have no idea why.  I thought it was always set.

[2017-06-09 14:46] dsyme commented on #295
Can you try ``ToolsVersion="15.0"`` at the top of the project files?  Just wondering.

[2017-06-09 14:47] dsyme commented on #295
@pblasucci Note that using a VS2017 developer command prompt will work.  But we should make it work from cmd.exe as well

[2017-06-09 14:57] pblasucci commented on #295
Changing the tools version did not alter the behavior. And, just to confirm, the VS2017 developer command prompt _does_ work. This is due to the dev prompt is putting the Visual Studio version into an environment variable (which the vanilla is absent in the vanilla prompt). Also, as an aside, even though the dev prompt works correctly, it emits a (spurious) warning about F# Tools not being install

[2017-06-09 15:02] dsyme commented on #295
Do you know which MSBUILD is being run?   When I use

    C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\MSBuild.exe

it works but when I use the very old

    C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe

it doesn't. I assume FAKE is in charge of choosing the right MSBuild, but I thought that FAKE 4.61.3 had an appropriate fix to always find the right

[2017-06-09 15:05] pblasucci commented on #295
Seems it's using
[code]

[2017-06-09 15:08] dsyme commented on #295
Does it work when you invoke that MSBUILD.EXE directly?

BTW here's a relevant FAKE issue:

    https://github.com/fsharp/FAKE/issues/1442

Here's the list of search paths it uses to find MSBuild.exe: https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/MSBuildHelper.fs#L25

[2017-06-09 15:14] pblasucci commented on #295
No luck. Invoking `MSBuild.exe` directly causes the same result.

[2017-06-09 15:15] dsyme commented on #295
How about if you add

[code]

to CheckFSharpInstallation.fsproj

[2017-06-09 15:18] dsyme commented on #295
OK, adding the Microsoft.Common.Props entry fixes this for me

(I can repro this now.  I was not focusing on CheckFSharpInstallation.fsproj - I was building the generated project (which has the Microsoft.Common.props entry))

[2017-06-09 15:21] dsyme commented on #295
Print the exception being caught here:
[code]

[2017-06-09 15:21] dsyme commented on #295
Make sure you're starting from clean each time, i.e.

    git reset --hard master
    git clean -xfd .

[2017-06-09 15:26] pblasucci commented on #295
I'd been starting clean each time. But printing the caught error seems to have fixed everything. No idea why/how, though

O_o

Anyway, at least we have the fixes... now someone just needs to prepare PR.

[2017-06-09 15:28] dsyme commented on #295
Done: https://github.com/fsprojects/ProjectScaffold/pull/297

[2017-06-09 15:28] #295 closed

[2017-06-09 15:29] dsyme commented on #295
@pblasucci Could you verify?  There is no printing of the caught error in that PR (did you actually get an error printed?)

[2017-06-09 15:35] pblasucci commented on #295
Yup. Everything looks peachy now!  👍

[2017-06-18 12:04] gusty opened #303 "Conflict when adding a nuget to the Test Project"
### Description

Adding a nuget to the Test project using paket fails due to a conflict of FSharp.Core versions

### Repro steps

1. After cloning, run build as stated in the doc, name the solution MySolution, put anything for the rest.

2. Go to the paket directory and add a nuget to the Test group like this:

    paket add project MySolution.Tests group Test nuget YC.PrettyPrinter

### Expected

[2017-06-28 15:26] forki opened #304 "Discussion: Docs output in master?"
Currently we changed the scaffold to use a different workflow for docs output.

Earlier we committed the docs into `gh-pages` brach so that github would display it from there.
Now we commit the output directly to master.

I am very worried about that change since I fear this will lead to big merge conflicts in scenarios where we support multiple release branches or when different user release.

Th

[2017-06-28 15:37] pblasucci commented on #304
I've not used ProjectScaffold for quite some time, so I don't have any _direct_ feedback (yet... though personal life is taking me out of the community for a bit).

But I'll observe that I share @forki concern about excessive merge conflicts. On the other hand, I wonder if this helps make ProjectScaffold easier to use on other platforms (GitLab, VSTS, etc.)?

At any rate, I think this should be wa

[2017-07-07 22:14] Krzysztof-Cieslak commented on #304
I think having docs output in the main branch is terrible idea. It makes stuff harder to merge, creates gigantic diffs, makes repo harder to maintain. Also, in my view, docs output is just release artifact same as compiled `.exe` and usually no one commits those.

Can't say for other providers but on GitLab there is no need of committing docs output to get GitLab Pages working - GitLab Pages are u

[2017-07-07 22:18] Krzysztof-Cieslak opened #305 "Discussion: Use Expecto for test project"
I guess everyone knows my opinion about "traditional" .Net test frameworks, and noticed that I'm big fan of Expecto. ;)

But there are some real advantages:
1. Promoting community based solution
2. Promoting "idiomatic" F# way
3. Removing problems with Assembly Redirects that everyone has with test frameworks using external runners

[2017-07-08 07:17] forki commented on #304
I think we should roll back

Am 08.07.2017 12:14 vorm. schrieb "Krzysztof Cieślak" <
notifications@github.com>:

[2017-07-22 16:22] paytonrules opened #307 "Stack Overflow on MacOs with initial setup."
### Description

After cloning and running ./build.sh I get a stack overflow during the initial. The project scaffolding is unusable.

### Repro steps

1. Clone project scaffold
2. Run .build.sh

### Expected behavior

A series of questions so you can setup your project correctly, followed by a usable project.

### Actual behavior

Stack overflow - stack trace here:

[code]

### Known workarounds

[2017-07-22 17:28] paytonrules commented on #307
Workaround:

I got past this by updating my mono installation via homebrew. This means I'm now using the homebrew one and not the one installed by Visual Studio for Mac.  Interestingly this is an older version.

Mono JIT compiler version 5.2.0.104 (2017-04/4a0006f Wed May 10 05:06:51 EDT 2017)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           n

[2017-07-22 18:39] sergey-tihon commented on #307
Latest released Mono is `5.0.1.1`

Mono JIT compiler version 5.0.1.1 (2017-02/5077205 Thu May 18 16:11:37 EDT 2017)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           normal
	SIGSEGV:       altstack
	Notification:  kqueue
	Architecture:  x86
	Disabled:      none
	Misc:          softdebug
	LLVM:          yes(3.6.0svn-mono-master/8b1520c)
	GC:

[2017-08-28 22:57] oscarvarto opened #309 "FSharp.Formatting error if I include FSharp.Data and use CSV type provider"
### Description

Adding `type Stocks = CsvProvider<"./data/MSFT.csv">` to `https://github.com/fsprojects/ProjectScaffold/blob/master/src/FSharp.ProjectTemplate/Library.fs` causes a FSharp.Formatting Error

### Repro steps

Please provide the steps required to reproduce the problem

1.a Use `forge new scaffold` to create a new Scaffold.
1.b Add `nuget FSharp.Data` to `group Build` in `paket.depende

[2017-08-29 06:53] pblasucci commented on #309
So, here are my initial thoughts:

- This is almost certainly _not_ an issue with ProjectScaffold (that having been said...)
- Have you tried deleting the FAKE cache (it's the `.fake` folder at the root of your local repository)?
- Have you tried pinning (in Paket) the versions of FSharp.Compiler.Service and/or FSharp.Formatting (note: you may have to play around with going up or down a version or

[2017-09-03 17:05] teo-tsirpanis opened #310 "How about we migrate to newer framework versions in the website?"
The website uses Bootstrap 2.2.1, an unsupported version and jquery is also legacy.

Using a newer version has many advantages. For example, one can use more Bootstrap themes. And creating a new website for a project, with legacy frameworks makes no sense in general.

[2017-09-11 04:17] yan0lovesha opened #311 "Access to the path 'FSharp.ProjectTemplate' is denied."
### Description

Got error when execute build.cmd on a new project.

### Repro steps

Please provide the steps required to reproduce the problem

1. Open Visual Studio Code.

2. Open an empty folder.

3. Press Ctrl + Shift + p. Input "F#: New Project(ProjectScaffold).

4. Execute builld.cmd after Project created.

5. In the cmd window. Input necessary information when the script asked.

### Expect

[2017-09-15 09:00] EHotwagner commented on #311
I experience the same problem.

[2017-09-16 19:22] baronfel opened #312 "Consider updating the scaffold for the dotnet SDK"
### Description

The idea would be to keep all of the excellent features, possibly even the default full-framework targeting, just migrate projects and build scripts to using dotnet sdk/cli features where appropriate.

This would be to encourage good practices going forward, as well as make it easier for developers to opt into multitargeting and such.

### Repro steps

Run the init script.

### Ex

[2017-09-16 19:58] cdrnet commented on #312
Wouldn't this then require having some dotnet sdk installed?

[2017-09-16 20:01] baronfel commented on #312
Not necessarily.  We could use the new SDK and make the build script steps choose either mono's `msbuild` or dotnet cli commands based on what the user response is at `init` time.

The nice thing about the new SDK is that every dotnet cli action (restore, build, pack, etc) is mapped to a single msbuild target (Restore, Build, Pack), and mono 5+ uses the new msbuild which understands this.

So we c

[2017-10-21 17:18] gusty commented on #304
I think we should rollback, but it might be because I still don't understand what is the equivalent of ``build ReleaseDocs`` now.

What about letting the user choose which model to use by asking him in the first run?

[2017-10-22 01:04] jackfoxy commented on #304
https://github.com/fsprojects/ProjectScaffold/commit/265feb09e193c008db95cb8d5d768243740b655c#commitcomment-25112624

[2017-11-03 20:28] DavidSSL commented on #311
Ok I've been able to reproduce this problem and have also got a workaround.

Effectively, if you run this while the "project" is open in Visual Studio Code, the latter locks 'FSharp.ProjectTemplate', hence why you get the error.

The workaround is to close Visual Studio Code and then run "build.cmd"

[2017-11-20 12:34] #276 closed

[2017-11-20 17:29] jackfoxy commented on #276
I'm not sure how this PR is supposed to work.
I merged it into my fork, ran a test, selected ````Initialize git repo [Yn]?```` Y, and it did not wipe the git history. I don't think my init.fsx diverges from main in any important way.

[2017-11-20 18:20] jackfoxy commented on #276
For those of us who start out without a remote, the following one line change will wipe git history. I will leave this to others to decide if this is a good idea:

````if isGitRepo () && hasScaffoldOrigin () then````

````if isGitRepo () then````

I don't know of any justification to restricting this to only if a remote exists.

[2017-12-14 00:18] dsyme commented on #259
This was a great suggestion, my apologies for closing it.

[2017-12-15 23:50] rmunn opened #315 "Git history not cleared if remote name doesn't end with .git"
### Description

#276 is not quite fixed, because if you clone the ProjectScaffold repo by copying the URL from your browser (in which case its remote will be `https://github.com/fsprojects/ProjectScaffold`) then it won't be matched by the regex in `init.fsx` and the git history won't be cleared.

### Repro steps

Please provide the steps required to reproduce the problem

1. Clone https://github.

[2017-12-15 23:55] rmunn commented on #276
There's also a problem if the URL doesn't end with `.git`, which I've just submitted a PR for. As for the question of whether the history should be cleared if there is no remote, I'm leaning towards not doing that. The main issue is that we don't want to accidentally delete someone's real history if the `init.fsx` script gets copied into a non-ProjectScaffold repo. Checking the remote URL is a goo

[2017-12-16 05:30] #315 closed

[2017-12-17 16:40] jackfoxy commented on #259
Even if the maintainers do not want this, I would merge it into my fork.

[2017-12-26 02:05] CameronAavik opened #317 "Project Structure page does not fully reflect what is generated"
### Description

I am pretty new to F# and the whole F# ecosystem and so don't know much about what most of the folders do, so I went to the Project Structure page which is currently located [here](http://fsprojects.github.io/ProjectScaffold/structure.html) and has it's source [here](https://github.com/fsprojects/ProjectScaffold/blob/58cea72b7404dc9bd2038bb6074839bfc60dec4a/structure.html). The li

[2018-01-03 21:51] TheAngryByrd commented on #312
Please feel free to use anything from https://github.com/TheAngryByrd/MiniScaffold

[2018-01-17 14:17] larsjr opened #319 "Fake.exe deleted after "build.cmd clean""
### Description

packages\build\FAKE\tools\FAKE.exe is deleted when running `build.cmd clean`
### Repro steps

Please provide the steps required to reproduce the problem

1. Clone ProjectScaffold

2. Run build.cmd

3. Run build.cmd clean

4. Run build.cmd again

### Expected behavior

Would expect the project to be built.

### Actual behavior

Error message in cmd/powershell: packages\build\FAKE\t

[2018-03-28 22:56] dunefox opened #322 "Build.cmd fails on Win10"
### Description

I downloaded the repository and executed build.cmd on Windows 10 in Powershell - which fails. Nothing more was done.

### Repro steps

Please provide the steps required to reproduce the problem

1. Step A Download and clone.

2. Step B Run build.cmd on Windows 10 in Powershell.

### Expected behavior

I would expect build.cmd to finish without errors.

### Actual behavior

Here is

[2018-03-31 09:45] dunefox commented on #322
I solved it, the issue was unrelated to build.cmd.

[2018-03-31 09:45] #322 closed

[2018-04-23 15:11] jackfoxy commented on #305
Already did this in my fork

[2018-05-01 17:09] matthid opened #324 "Disussion: Relation/Advantage over dotnet sdk templates?"
### Description

- Is this repository still required?
- Should we provide a sdk template out of this repository?
- Should we point to some existing template?

[2018-05-01 20:46] Krzysztof-Cieslak commented on #324
+1 for providing `dotnet new` template for this repo.

[2018-05-02 07:41] sergey-tihon commented on #324
One more question is What is the relationship between this project and https://github.com/TheAngryByrd/MiniScaffold ? (there is a template for mini scaffold)

[2018-05-07 21:53] jackfoxy commented on #324
On my fork I already have converted this project to sdk

[2018-05-10 23:41] jackfoxy commented on #312
My fork implements the dotnetsdk. Do people generally want this project to move forward with that?

[2018-05-14 16:27] jackfoxy opened #325 "Proposed updates to ProjectScaffold"
## Proposed updates to ProjectScaffold

I have some changes in my personal fork I can submit to the master branch here. I'll propose a thumbs up/down vote on each.

I have no experience with dotnet templates, and so no opinion about whether this project is suitable to convert, or if any of my changes are compatible.

1) Dotnet SDK projects.
I multi-target the main library project to net45;net47;ne

[2018-05-14 16:28] jackfoxy commented on #325
## Dotnet SDK projects
thumbs up/down

[2018-05-14 16:28] jackfoxy commented on #325
## Drop NUnit and make the test project Expecto tests
thumbs up/down

[2018-05-14 16:29] jackfoxy commented on #325
## Additional console app using Argu lib
thumbs up/down

[2018-05-14 16:29] jackfoxy commented on #325
## All solution files accessible from within solution IDE
thumbs up/down

[2018-05-14 16:29] jackfoxy commented on #325
## Latest FSharp.Formatting prerelease
thumbs up/down

[2018-05-14 16:30] jackfoxy commented on #325
## My personalized prelude file in the library project
thumbs up/down

[2018-05-14 23:13] Krzysztof-Cieslak commented on #325
If we went with SDK template road some of those decisions may be done by users, with parameters. In particular it would make sense for those ideas (from above list) - additional console app, type of test framework, custom prelude

[2018-05-15 02:35] jackfoxy commented on #325
If someone wants to do the work to turn this project into a SDK template, I would accept the PR.

[2018-05-16 00:56] jackfoxy commented on #324
@sergey-tihon  no relation I am aware of. MiniScaffold appears to already be a dotnet cli template project.

[2018-05-16 15:47] jackfoxy commented on #325
I'm curious to hear the reason(s) for down-voting making all files available from within the solution?

[2018-05-17 15:09] jackfoxy commented on #325
Here's what seems to be trending favorably. I'll try to get this in on the weekend, if the trends hold.

Dotnet SDK projects

Drop NUnit and make the test project Expecto tests

Additional console app using Argu lib

All solution files accessible from within solution IDE

Latest FSharp.Formatting prerelease

[2018-05-19 17:37] jackfoxy commented on #325
I have pushed a beta branch https://github.com/fsprojects/ProjectScaffold/tree/betanetstandard for community testing with the following changes:

**Dotnet SDK projects**
**Drop NUnit and make the test project Expecto tests**
**Additional console app using Argu lib**
**All solution files accessible from within solution IDE**
**Latest FSharp.Formatting prerelease**

I also made a couple of changes t

[2018-05-19 17:40] jackfoxy commented on #325
I will merge early in the workweek, pending feedback.

[2018-05-20 15:57] matthid commented on #325
@jackfoxy I guess we should update fake as well to 5

[2018-05-20 20:46] jackfoxy commented on #325
@matthid yes, that and dotnet cli template are good next steps
I will open an issue for fake 5

[2018-05-20 23:37] jackfoxy opened #327 "FAKE 5.0 implementation of build"
### Description

FAKE 5.0 implementation of build

[2018-05-20 23:38] jackfoxy commented on #327
This should probably be implemented as an initialization time choice between 5.0 and legacy build scripts. This would likely also impact paket.dependencies

[2018-05-26 16:54] jackfoxy commented on #312
this issue now covered by https://github.com/fsprojects/ProjectScaffold/issues/325

[2018-05-26 16:54] #312 closed

[2018-05-26 16:55] jackfoxy commented on #311
Closing. The path gets renamed during the init build.

[2018-05-26 16:55] #311 closed

[2018-05-26 16:58] jackfoxy commented on #305
Now covered by https://github.com/fsprojects/ProjectScaffold/issues/325

[2018-05-26 16:58] #305 closed

[2018-05-26 16:59] jackfoxy commented on #304
Happy to accept a PR that give user choice at initial build.

[2018-05-26 17:06] jackfoxy commented on #304
more background in this issue https://github.com/fsprojects/ProjectScaffold/issues/201 which I am closing in favor of keeping the discussion open here

[2018-05-26 17:07] jackfoxy commented on #201
Closing this in favor of keeping discussion open in this issue https://github.com/fsprojects/ProjectScaffold/issues/304

[2018-05-26 17:07] #201 closed

[2018-05-26 17:08] jackfoxy commented on #183
project structure page needs updating https://github.com/fsprojects/ProjectScaffold/issues/317
closing this issue to consolidate

[2018-05-26 17:08] #183 closed

[2018-05-26 17:10] jackfoxy commented on #150
I would be happy to accept a PR

[2018-05-26 17:19] jackfoxy commented on #325
PR merged https://github.com/fsprojects/ProjectScaffold/pull/326

[2018-05-26 17:19] #325 closed

[2018-06-09 17:13] jackfoxy commented on #327
More important than ever, now that FAKE 5.0 released

[2018-06-09 17:18] jackfoxy commented on #304
changing name of issue and labeling help wanted
accepting PR to make configurable at init time

[2018-06-09 17:20] #277 closed

[2018-06-10 11:18] kblohm commented on #324
As you have closed the issue, does that mean there is no real interest in converting to a dotnet template?

[2018-06-10 16:47] jackfoxy commented on #324
@kblohm  do you have anything to add to the discussion? or a template proposal or PR?

[2018-06-10 18:55] kblohm commented on #324
I had a discussion with @matthid in https://github.com/fsharp/FAKE/pull/1989 about creating templates for FAKE and he pointed me to this issue. No i do not have a template proposal or a PR yet.
Is there any interest in converting this repo to a dotnet template or are you generally happy with the way it currently works? If that is the case, there is probably no use in converting, otherwise i might

[2018-06-10 20:03] jackfoxy commented on #324
Personally, I'm happy with the status quo, but others seem interested in a template. I don't have a strong opinion.

[2018-06-11 17:16] kblohm commented on #324
Fair enough, feel free to close again.

[2018-06-11 23:40] #324 closed

[2018-06-12 17:15] jackfoxy commented on #327
F# Scaffolding is not yet compatible with FAKE 5.0
https://github.com/fsprojects/FSharp.Formatting/issues/471

[2018-06-12 17:49] matthid commented on #327
It is, look at fake itself for example

[2018-06-12 20:57] jackfoxy commented on #327
OK, so one needs to put fake and formatting in different paket groups.

[2018-06-16 18:54] jackfoxy commented on #327
A mostly complete implementation of FAKE 5.0 build is available on the fake5 branch.

https://github.com/fsprojects/ProjectScaffold/blob/fake5/build.template

It still needs a little bit of work in a couple areas I do not personally use.

Please submit PRs to the fake5 branch.

1) build.sh needs updating. This should be a small task for anyone experienced in using *nix builds.
2) "GenerateDocsDebu

[2018-06-16 21:06] wallymathieu commented on #327
Sweet! 👍

[2018-07-01 20:54] #327 closed

[2018-07-01 21:11] jackfoxy opened #331 "Repo clean-up"
I'm looking to clean the repo of unnecessary branches;

Please let me know if any of these branches are still useful. Better yet, submit a PR if they are. Otherwise, consider deleting them.

@forki
docs Latest commit 8e05fdc on Apr 29 2016
forki-patch-1 Latest commit 52ad71e on Apr 27 2015
paket Latest commit 88ba4f5 on Aug 8 2014

@dsyme
dsyme-patch-1 Latest commit c4b0bf0 on Apr 6 2015
dsyme-pat

[2018-07-08 18:46] jackfoxy opened #332 "clone/build does not work on Mac"
### Description

clone/build does not work on Mac

### Repro steps

from twitter report, needs more info

[2018-07-09 18:19] jackfoxy commented on #332
Some information I picked up might be relevant:

To use dotnet build on non-windows for non-netstandard/netcoreapp frameworks you need to supply the path to the mono BCL libraries like so:
export FrameworkPathOverride=$(dirname $(which mono))/../lib/mono/4.5/

Here's an example you may like: https://github.com/fsprojects/FSharp.TypeProviders.SDK/blob/master/netfx.props
You can copy this file and i

[2018-07-26 16:50] jackfoxy commented on #332
@jeremyabbott  I got this feedback over twitter
I get  build failures on /usr/local/share/dotnet/sdk/2.1.301/Microsoft.Common.CurrentVersion.targets(1179,5): error MSB3644: The reference assemblies for framework ".NETFramework,Version=v4.7" were not found.

Perhaps we should rollback the mutitargetting to net461?
https://twitter.com/paytonrules/status/1022321025135112192

[2018-07-26 19:10] jeremyabbott commented on #332
I’ll take a look ASAP.

--
Jeremy Abbott

On July 26, 2018 at 09:50:12, Jack Fox (notifications@github.com) wrote:

[2018-08-09 17:00] jackfoxy commented on #332
I'm declaring this fixed. If any other Mac issues arise we can open a new issue.

[2018-08-09 17:00] #332 closed

[2018-11-04 09:21] cmeeren opened #342 "Fix page title of ProjectScaffold index page"
http://fsprojects.github.io/ProjectScaffold contains `<title>index</title>`, surely this is incorrect.

[2018-11-04 09:37] cmeeren opened #341 ""'fake' is not recognized as an internal or external command" when running build.cmd"
### Description

When I run `build.cmd` for the first time, I get an error after restore has completed (the following is from a second run of `build.cmd`)

[code]

### Repro steps

Clone repo and run `build.cmd` from the root of the repo.

### Expected behavior

I get asked questions about project name etc.

### Actual behavior

I get the error described above.

### Related information

* Operatin

[2018-11-04 09:47] cmeeren commented on #341
This project https://github.com/MangelMaxime/fulma-demo has `clitool dotnet-fake` in the root `paket.dependencies`, the scripts are named `fake.cmd` and `fake.sh`, and they run `dotnet fake` instead of just `fake`. Perhaps any or all of those can help?

[2018-11-04 09:48] cmeeren commented on #341
I have assumed that FAKE should be installed as part of the bootstrapping process (restoring `build.proj`). If this is not the case and FAKE is a prerequisite, this should be added to the documentation along with steps to install, e.g. `dotnet tool install fake-cli -g`.

[2018-11-04 09:49] cmeeren commented on #341
(On a side note, something is wrong with GitHub... Wrong order and time travel)

![image](https://user-images.githubusercontent.com/7766733/47962589-4cafd580-e01f-11e8-8994-5c10dccbbc08.png)

[2018-11-30 07:31] dbrattli opened #343 "Error in comment?"
There is no `docsrc/tools/generate.fsx`, or at least I cannot find it.

https://github.com/fsprojects/ProjectScaffold/blob/d8164d08ad1ec5e8fc2e4be79f54f014a9cbeb3c/build.template#L28

[2019-04-09 14:31] baronfel opened #344 "Fix build of net4XXX target frameworks on mono"
### Description

When building a project generated from this repo on net46x/net47x, you get the infamous missing reference assemblies error:
[code]

This can be fixed by setting the `FrameworkPathOverride` to the matching mono base library directory, the logic of which is handily captured [here](https://github.com/fsprojects/FSharp.TypeProviders.SDK/blob/8cc9f9f8ca9b934e1f9d37743bc792dccc91675c/ne

[2019-04-15 21:45] fangyi-zhou commented on #341
I have #345 to address this issue with `fake` by adding fake template from `dotnet new fake`

[2019-05-04 03:01] bohdyone opened #346 "Initial build.sh fails on OSX"
### Description

The initial run of build.sh after clone fails with error:
`Paket failed with
  -> The NuGet source https://ci.appveyor.com/nuget/fsharp-formatting for package FSharp.Formatting was not found in the paket.dependencies file with sources [NuGetV2 {Url = "https://www.nuget.org/api/v2";
               Authentication = Paket.NetUtils+AuthProviderModule+ofFunction@38;}]`

### Repro steps

[2019-05-16 11:42] halcwb commented on #346
It fails on windows as well, the same error. Actually when you look at the appveyor badge, the same problem. It is very poor practice to let your main branch fail like that and just leave it, I think.

[2019-05-16 13:23] halcwb opened #347 "ProjectScaffold is broken"
### Description

When trying to use ProjectScaffold as it is intended, an out of the box solution to quickly get you up and running with F#, the experience is very frustrating.

### Repro steps

Please provide the steps required to reproduce the problem

1. Download ProjectScaffold

2. Make a new project directory

3. Copy the content of ProjectScaffold in the project directory

4. Remove the `.gi

[2019-06-30 14:02] chespinoza commented on #346
in my case using it on MacOS Mojave it works and generate all the files but the generated project isn't recognized by `VS` nor `ionide` returning several errors and when trying to run it, it fails.
So far the only way to get a project working well has been creating projects manually with:
 `dotnet new console -lang F# -o myFApp`
and adding paket manually too.

[2019-08-17 14:29] alexandru opened #349 "Error: The target "Build" does not exist in the project"
On MacOS the initial `build.sh` fails with this:

[code]

[2019-10-22 09:02] Thorium commented on #349
To found the issue, you can created your own Build-target to the fsproj-file first:
[code]

The issue is probably that there is a condition saying something like
[code]
but with recent Visual Studio the condition is not met or the path is actually somewhere else,
like in `VisualStudio\v$(MSBuildToolsVersion)\FSharp\` and not in `VisualStudio\v$(VisualStudioVersion)\FSharp\` so as a quick fix
you c

[2019-10-22 15:00] Thorium opened #350 "Any support for updating existing libraries?"
There are maybe more than 100 libraries (just by the fork count of this repo) that have been built based on the different versions of ProjectScaffold. Which was great, it has been an excellent template. But then came .NET Core and .NET Standard and new project files, FAKE 5 and so-on. Gradually some parts are not working from the old templates: SourceLinks, document generation, FSharpTargetsPath i

[2019-11-09 09:44] halcwb commented on #350
I absolutely agree. Just the lack of response to your issue is testimony to the problem. A continuous and consistent lack of support and upgrading of a lot of core F# libraries. The same applies to F# tooling.  I completely understand that this cannot be thrown at any ones feet and this is no personal attack to library maintainers. This is an observation and could be a major reason why F# hasn't b

[2020-02-20 21:52] halcwb opened #352 "What is the status of this project (in relation to MiniScaffold)?"
### Description

I have used this setup in the past. However, it seems to me that this project is no longer actively maintained. For example, the last commit is about a year ago, and the CI status is showing in red.

There is, however, an alternative: [https://github.com/TheAngryByrd/MiniScaffold](https://github.com/TheAngryByrd/MiniScaffold.)

Wouldn't it be better to either deprecate this projec

[2020-02-21 06:47] forki commented on #352
Yes right now Miniscaffold or the SAFE template are the things I'd
recommend.

Casper <notifications@github.com> schrieb am Do., 20. Feb. 2020, 22:52:

[2020-02-21 12:09] halcwb opened #353 "Running build.fsx in FSI, a workaround"
### Description

I want to run some of the code in the build.fsx in the FSI. This is very handy to check the helper functions and figure out what they do.

### Repro steps

NA

### Expected behavior

NA

### Actual behavior

NA

### Known workarounds

I have modified the header of the build.fsx somewhat:

[code]

This setup assumes that you run:

`dotnet tool restore` and
`dotnet paket generate-lo

[2020-02-21 12:11] halcwb commented on #353
Sorry wrong repository

[2020-02-21 12:11] #353 closed, assigned to nobody

[2020-05-10 18:25] daz10000 commented on #349
Second this - a fresh pull of the project, ran once to enter project details and then ./build.sh (windows, git) gives output below

RUnning
[code]

[code]

[2020-05-10 18:40] daz10000 commented on #349
As a workaround,  there is commented out section of the build target in the generated template.  If you uncomment that, and comment out the active portion like so, it seems to work.  Suggest fixing the template to use the commented out version?  Not sure why it's like that.  Happy to send a PR if people agree that's preferable?  Looking at it, it seems like the `dotnet build` process is working fo

[2020-05-10 19:05] Krzysztof-Cieslak commented on #349
I don't think this project is maintained any more - I'd recommend using https://github.com/TheAngryByrd/MiniScaffold or https://github.com/ionide/Waypoint instead.

Hey, @forki maybe we should somehow formalize that by putting huge info in the readme?

[2020-05-10 19:23] daz10000 commented on #349
That's too bad - was trying to upgrade an old project based on this and hoping I could drop a fresh checkout onto the old one.   That's part of the problem with using scaffolds etc - it's a fast way to get started but you kind of get locked in to the infrastructure.  Right now the project and tests themselves build with just vanilla dotnet tooling but all the other housekeeping like release notes,

[2020-05-16 16:45] wallymathieu commented on #349
Or perhaps revamp this project?

[2020-05-16 17:18] daz10000 commented on #349
fWiw I moved ahead with mini scaffold and it was fairly painless and nicely built into dotnet template system. Would recommend trying that.  I’m all for maintaining fewer better pieces of code (this was great but some benefit to focusing on a few things and mini scaffold seems better set for dotnet core)

Von meinem iPhone gesendet

[2020-05-16 17:21] wallymathieu commented on #349
Looks like there hasn't been any accepted pull requests in a while, so let's ask about in the f# projects channel.

[2020-05-16 17:25] wallymathieu commented on #352
Perhaps time to archive this project then? @forki

[2021-04-19 19:24] #240 closed